## Last changed: 2019-02-09 09:11:35 PST
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        user admin1 {
            uid 2005;
            class admin-class;
            authentication {
                encrypted-password "$1$uE9mPnHr$ezot4lR9QaUyjzItj.p.5."; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2006;
            class restricted-class;
            authentication {
                encrypted-password "$1$XeNFKAWG$nAZBvetrHZk31/9bU6b/11"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$1$cuRZtU4h$cnMqTHxNea5FSWIXcHbCq0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name srx1;
    time-zone America/Los_Angeles;
    location {
        floor 1;
        rack 1;
    }
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
            source-address 192.168.1.1;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$pBZoOIcN-wg4ZKM7V"; ## SECRET-DATA
        server 10.10.1.254;
        trusted-key 5;
        source-address 192.168.1.1;
    }
}
security {
    ike {
        traceoptions {
            flag all;
        }
        proposal ike-proposal {
            authentication-method pre-shared-keys;
            dh-group group2;
            authentication-algorithm sha1;
            encryption-algorithm aes-128-cbc;
        }
        proposal ike-proposal-1 {
            authentication-method pre-shared-keys;
            dh-group group2;
            authentication-algorithm md5;
            encryption-algorithm 3des-cbc;
        }
        policy ike-policy {
            mode main;
            proposals ike-proposal;
            pre-shared-key ascii-text "$9$Q-UPF6ArlM7NbvWkP5Q9CKM87VY"; ## SECRET-DATA
        }
        policy ike-policy-1 {
            mode main;
            proposal-set basic;
            pre-shared-key ascii-text "$9$cVySvLdVYoZjs2"; ## SECRET-DATA
        }
        gateway ike-gateway {
            ike-policy ike-policy;
            address 80.10.1.1;
            external-interface ge-0/0/3.0;
        }
        gateway ike-gateway-1 {
            ike-policy ike-policy-1;
            address 80.10.10.1;
            external-interface ge-0/0/3.0;
        }
    }
    ipsec {
        traceoptions {
            flag all;
        }
        vpn-monitor-options {
            interval 5;
            threshold 3;
        }
        proposal ipsec-proposal {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 28800;
        }
        proposal ipsec-proposal-1 {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-256-cbc;
            lifetime-kilobytes 100000;
        }
        policy ipsec-policy {
            proposals ipsec-proposal;
        }
        policy ipsec-policy-1 {
            proposals ipsec-proposal-1;
        }
        vpn to-cluster2 {
            bind-interface st0.0;
            vpn-monitor {
                optimized;
                source-interface lo0.0;
                destination-ip 192.168.1.5;
            }
            ike {
                gateway ike-gateway;
                ipsec-policy ipsec-policy;
            }
            establish-tunnels immediately;
        }
        vpn to-srx2 {
            bind-interface st0.1;
            vpn-monitor {
                optimized;
                source-interface lo0.0;
                destination-ip 192.168.1.2;
            }
            ike {
                gateway ike-gateway-1;
                ipsec-policy ipsec-policy-1;
            }
            establish-tunnels immediately;
        }
    }
    policies {
        from-zone TRUST to-zone UNTRUST {
            policy internet-access {
                match {
                    source-address trust-address-range;
                    destination-address any;
                    application trust-app-set;
                }
                then {
                    permit;
                }
            }
            policy corp-network-access {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone TRUST to-zone DMZ {
            policy trust-to-dmz {
                match {
                    source-address trust-address-range;
                    destination-address dmz-range;
                    application junos-https;
                }
                then {
                    permit;
                }
            }
        }
        from-zone UNTRUST to-zone DMZ {
            policy corp-network-to-dmz {
                match {
                    source-address corp-network;
                    destination-address dmz-range;
                    application junos-https;
                }
                then {
                    permit;
                }
            }
        }
        from-zone DMZ to-zone UNTRUST {
            policy dmz-to-untrust-log {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    deny;
                    log {
                        session-init;
                    }
                }
            }
        }
        from-zone UNTRUST to-zone UNTRUST {
            policy UNTRUST-intra {
                match {
                    source-address core-loopbacks;
                    destination-address core-loopbacks;
                    application junos-icmp-all;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                    telnet;
                    http;
                    https;
                }
            }
        }
        security-zone TRUST {
            address-book {
                address trust-address-range 172.16.10.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                ge-0/0/1.0;
            }
        }
        security-zone DMZ {
            address-book {
                address dmz-range 172.16.11.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                ge-0/0/2.0;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
                address core-loopbacks 192.168.1.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ike;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                ge-0/0/3.0;
                st0.0;
                st0.1;
                lo0.0;
            }
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 172.16.10.254/24;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 172.16.11.254/24;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 80.10.8.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.1/32;
            }
        }
    }
    st0 {
        unit 0 {
            family inet {
                address 11.0.0.2/30;
            }
        }
        unit 1 {
            family inet {
                address 11.0.0.10/30;
            }
        }
    }
}
snmp {
    community reading {
        authorization read-only;
        clients {
            10.10.10.4/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.10.4;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.10.8.254;
        route 192.168.1.5/32 next-hop st0.0;
        route 192.168.1.2/32 next-hop st0.1;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface st0.0;
            interface ge-0/0/2.0 {
                passive;
            }
            interface ge-0/0/1.0 {
                passive;
            }
            interface lo0.0;
            interface st0.1;
        }
    }
}
applications {
    application-set trust-app-set {
        application junos-http;
        application junos-https;
    }
}
