## Last changed: 2019-02-28 12:49:15 PST
version 18.4R1.8;
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user admin1 {
            uid 2005;
            class admin-class;
            authentication {
                encrypted-password "$1$uE9mPnHr$ezot4lR9QaUyjzItj.p.5."; ## SECRET-DATA
            }
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2006;
            class restricted-class;
            authentication {
                encrypted-password "$1$XeNFKAWG$nAZBvetrHZk31/9bU6b/11"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$1$cuRZtU4h$cnMqTHxNea5FSWIXcHbCq0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    host-name srx1;
    time-zone America/Los_Angeles;
    location {
        floor 1;
        rack 1;
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
            source-address 192.168.1.1;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$pBZoOIcN-wg4ZKM7V"; ## SECRET-DATA
        server 10.10.1.254;
        trusted-key 5;
        source-address 192.168.1.1;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.1/32;
            }
        }
    }
}
snmp {
    community reading {
        authorization read-only;
        clients {
            10.10.10.4/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.10.4;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
