## Last changed: 2018-12-20 19:28:37 UTC
version "18.2-20180529.0 [builder]";
system {
    login {
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$1$VCJaLHY6$/8dX4xE1utDXbpX554.HR/"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$1$wzba3NOW$n.NtL/8/JDVunJWwmMPZT0"; ## SECRET-DATA
    }
    host-name srx1;
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        host 10.10.10.2 {
            any emergency;
            source-address 192.168.1.1;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
    }
}
security {
    policies {
        from-zone trust to-zone trust {
            policy permit-all {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        default-policy {
            permit-all;
        }
    }
    zones {
        security-zone trust {
            host-inbound-traffic {
                system-services {
                    all;
                }
                protocols {
                    all;
                }
            }
            interfaces {
                ge-0/0/4.0;
                ge-0/0/1.0;
            }
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 1.1.1.1/30;
            }
        }
    }
    ge-0/0/4 {
        vlan-tagging;
        unit 0 {
            vlan-id 20;
            family inet {
                address 20.20.20.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.1/24;
            }
        }
    }
}
