## Last changed: 2019-03-06 12:56:24 PST
version 18.4R1.8;
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin {
            permissions all;
            deny-commands "request system reboot";
        }
        class restricted {
            permissions clear;
            allow-commands "(show system users)|(show interfaces terse)";
        }
        class ronly {
            permissions [ view view-configuration ];
            deny-commands "file delete";
            deny-configuration "system login";
        }
        user admin1 {
            uid 2007;
            class admin;
            authentication {
                encrypted-password "$1$2Ufc.UpI$s/SmYOgJSv33V5HlhwOqO1"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2009;
            class super-user;
            authentication {
                encrypted-password "$1$hfW4uwbb$C5GrqK6JMX/y2o54.1jWz0"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2010;
            class restricted;
            authentication {
                encrypted-password "$1$XuzfeAyb$PVeSVjo2Y5Jgc6WFh6Hhm."; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2015;
            class ronly;
            authentication {
                encrypted-password "$1$JsllqvQw$a/vER20W/pfwUPGHAfdtT1"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
            max-sessions-per-connection 32;
            connection-limit 3;
        }
        telnet;
        netconf {
            ssh;
        }
        web-management {
            https {
                system-generated-certificate;
            }
        }
    }
    host-name roffice1;
    time-zone America/Los_Angeles;
    location {
        country-code US;
        floor 1;
        rack 1;
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.99 {
            any emergency;
            authorization info;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization any;
        }
        file ssl-proxy {
            any any;
            match SSL;
        }
        file default-log-messages {
            any info;
            match "(requested 'commit' operation)|(requested 'commit synchronize' operation)|(copying configuration to juniper.save)|(commit complete)|ifAdminStatus|(FRU power)|(FRU removal)|(FRU insertion)|(link UP)|transitioned|Transferred|transfer-file|(license add)|(license delete)|(package -X update)|(package -X delete)|(FRU Online)|(FRU Offline)|(plugged in)|(unplugged)|GRES";
            structured-data;
        }
        time-format year millisecond;
    }
    ntp {
        boot-server 10.10.1.254;
        server 10.10.1.254;
        trusted-key 1;
    }
}
security {
    ike {
        proposal IKE-PROP-ROFFICE {
            authentication-method pre-shared-keys;
            dh-group group1;
            authentication-algorithm md5;
            encryption-algorithm 3des-cbc;
            lifetime-seconds 14400;
        }
        policy IKE-POL-ROFFICE {
            mode aggressive;
            proposals IKE-PROP-ROFFICE;
            pre-shared-key ascii-text "$9$xkZNVYq.5n6AfTeWLxwsP5QnCu"; ## SECRET-DATA
        }
        policy IKE-POL-BASIC {
            mode aggressive;
            proposal-set basic;
            pre-shared-key ascii-text "$9$pTmG01h7Nb4oGVw39ApREdbs4Zj"; ## SECRET-DATA
        }
        gateway TO-RO2 {
            ike-policy IKE-POL-ROFFICE;
            address 80.1.1.5;
            local-identity hostname roffice1;
            external-interface ge-0/0/3;
        }
        gateway TO-CENTRAL {
            ike-policy IKE-POL-BASIC;
            address 80.1.1.16;
            local-identity hostname roffice1;
            external-interface ge-0/0/3;
        }
        gateway TO-EXA {
            ike-policy IKE-POL-BASIC;
            address 100.1.1.1;
            local-identity hostname roffice1;
            external-interface ge-0/0/3.0;
        }
    }
    ipsec {
        proposal IPSEC-PROP-ROFFICE {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-128-cbc;
            lifetime-seconds 3600;
        }
        policy IPSEC-POL-ROFFICE {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals IPSEC-PROP-ROFFICE;
        }
        policy IPSEC-POL-BASIC {
            proposal-set basic;
        }
        vpn TO-RO2 {
            bind-interface st0.0;
            ike {
                gateway TO-RO2;
                ipsec-policy IPSEC-POL-ROFFICE;
            }
            establish-tunnels immediately;
        }
        vpn TO-CENTRAL {
            bind-interface st0.1;
            ike {
                gateway TO-CENTRAL;
                ipsec-policy IPSEC-POL-BASIC;
            }
            establish-tunnels immediately;
        }
        vpn TO-EXA {
            bind-interface st0.2;
            ike {
                gateway TO-EXA;
                ipsec-policy IPSEC-POL-BASIC;
            }
            traffic-selector exa-private {
                local-ip 2016:abcd:b2::/64;
                remote-ip 2016:abcd:d2::/64;
            }
            establish-tunnels immediately;
        }
    }
    address-book {
        global {
            address CENTRAL-TRUST 172.16.50.0/24;
            address CENTRAL-INTERNAL 172.16.55.0/24;
            address CENTRAL-WAREHOUSE 172.16.60.0/24;
            address CENTRAL-TESTBED6 172.16.65.0/24;
            address CENTRAL-TESTBED7 172.16.70.0/24;
            address SRV-MAIL 172.16.60.199/32;
            address WAREHOUSE-SRV-205 172.16.60.205/32;
            address WAREHOUSE-SRV-206 172.16.60.206/32;
            address WAREHOUSE-HONEYPOT 172.16.60.207/32;
            address RO1-TRUST 172.16.10.0/24;
            address RO2-TRUST 172.16.20.0/24;
            address EXA-TRUST 172.16.10.0/24;
            address WEBSENSE 172.16.60.99/32;
            address RO1-HOST-PRIVATE 172.16.11.50/32;
            address RO2-SRV-WEB 172.16.21.2/32;
            address RO2-SRV-DB 172.16.21.33/32;
            address EXA-SRV-WEB 172.16.30.11/32;
            address EXA-SRV-DB 172.16.30.12/32;
            address EXA-SRV-SSH 172.16.30.13/32;
            address EXA-PRIVATE 172.16.15.0/24;
            address HOFFICE-TRUST 172.16.77.0/24;
            address EXA-TRUST-OVERLAP 172.16.110.0/24;
            address RO1-TRUST-OVERLAP 172.16.111.0/24;
            address BUILDING-TRUST-B1 172.16.100.0/24;
            address BUILDING-TRUST-B2 172.16.200.0/24;
            address BUILDING-DMZ-B2 172.16.201.0/24;
            address BUILDING-DMZ-B1 172.16.101.0/24;
            address RO1-TRUST-V6 2016:abcd:b1::/64;
            address RO2-TRUST-V6 2016:abcd:c1::/64;
            address EXA-TRUST-V6 2016:abcd:d1::/64;
            address EXA-PRIVATE-V6 2016:abcd:d2::/64;
            address ROFFICE1-PRIVATE-V6 2016:abcd:b2::/64;
            address CENTRAL-TRUST-V6 2016:abcd:a1::/64;
            address-set CENTRAL-TESTBED {
                address CENTRAL-TESTBED6;
                address CENTRAL-TESTBED7;
            }
            address-set TRUST-NETWORKS {
                address RO1-TRUST;
                address RO2-TRUST;
                address CENTRAL-TRUST;
                address HOFFICE-TRUST;
                address EXA-TRUST-OVERLAP;
                address RO1-TRUST-OVERLAP;
                address BUILDING-TRUST-B1;
                address BUILDING-TRUST-B2;
            }
            address-set TRUST-NETWORKS-V6 {
                address RO1-TRUST-V6;
                address RO2-TRUST-V6;
                address EXA-TRUST-V6;
                address CENTRAL-TRUST-V6;
            }
            address-set PRIVATE-NETWORKS-V6 {
                address ROFFICE1-PRIVATE-V6;
                address EXA-PRIVATE-V6;
            }
        }
    }
    utm {
        custom-objects {
            mime-pattern {
                AV-excluded-mime {
                    value audio/;
                }
            }
            url-pattern {
                company-site {
                    value www.internalsites.com;
                }
            }
            custom-url-category {
                AV-excluded-sites {
                    value company-site;
                }
            }
        }
        feature-profile {
            anti-virus {
                mime-whitelist {
                    list AV-excluded-mime;
                }
                url-whitelist AV-excluded-sites;
                type sophos-engine;
                sophos-engine {
                    profile AV-full-file-scan {
                        notification-options {
                            virus-detection {
                                type message;
                            }
                        }
                    }
                }
            }
        }
        utm-policy RO-AV {
            anti-virus {
                http-profile AV-full-file-scan;
                ftp {
                    upload-profile AV-full-file-scan;
                    download-profile AV-full-file-scan;
                }
            }
        }
    }
    forwarding-options {
        family {
            inet6 {
                mode flow-based;
            }
        }
    }
    screen {
        ids-option SCREEN-UNTRUST {
            tcp {
                syn-frag;
                syn-flood {
                    alarm-threshold 2500;
                    attack-threshold 500;
                    destination-threshold 10000;
                    timeout 10;
                }
            }
            udp {
                flood {
                    threshold 500;
                }
            }
        }
    }
    nat {
        source {
            rule-set TRUST-RO1 {
                from zone TRUST-RO1;
                to zone UNTRUST;
                rule INTERNET {
                    match {
                        destination-address 0.0.0.0/0;
                    }
                    then {
                        source-nat {
                            interface;
                        }
                    }
                }
            }
        }
        static {
            rule-set RO1-HOST-PRIVATE {
                from zone UNTRUST;
                rule RO1-HOST-PRIVATE {
                    match {
                        destination-address 80.1.1.64/32;
                    }
                    then {
                        static-nat {
                            prefix {
                                172.16.11.50/32;
                            }
                        }
                    }
                }
            }
        }
    }
    policies {
        from-zone TRUST-RO1 to-zone UNTRUST {
            policy HTTP-FTP {
                match {
                    source-address RO1-TRUST;
                    destination-address any;
                    application [ junos-http junos-ftp ];
                }
                then {
                    permit {
                        application-services {
                            utm-policy RO-AV;
                        }
                    }
                }
            }
            policy INTERNET {
                match {
                    source-address RO1-TRUST;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone UNTRUST to-zone PRIVATE-RO1 {
            policy RO1-HOST-PRIVATE {
                match {
                    source-address any;
                    destination-address RO1-HOST-PRIVATE;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone PRIVATE-RO1 to-zone UNTRUST {
            policy INTERNET {
                match {
                    source-address RO1-HOST-PRIVATE;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone TRUST-RO1 to-zone VPN {
            policy INTERNET-V6 {
                match {
                    source-address RO1-TRUST-V6;
                    destination-address any;
                    application junos-http;
                }
                then {
                    permit;
                }
            }
        }
        global {
            policy TRUST {
                match {
                    source-address [ TRUST-NETWORKS TRUST-NETWORKS-V6 ];
                    destination-address [ TRUST-NETWORKS TRUST-NETWORKS-V6 ];
                    application any;
                }
                then {
                    permit;
                }
            }
            policy PRIVATE-V6 {
                match {
                    source-address PRIVATE-NETWORKS-V6;
                    destination-address PRIVATE-NETWORKS-V6;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        security-zone UNTRUST {
            screen SCREEN-UNTRUST;
            host-inbound-traffic {
                system-services {
                    ping;
                    ike;
                }
            }
            interfaces {
                ge-0/0/3.0;
                lo0.0;
            }
        }
        security-zone TRUST-RO1 {
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                ge-0/0/4.0;
            }
        }
        security-zone PRIVATE-RO1 {
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                ge-0/0/5.0;
            }
        }
        security-zone VPN {
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                st0.0;
                gr-0/0/0.0 {
                    host-inbound-traffic {
                        protocols {
                            ospf;
                        }
                    }
                }
                st0.1 {
                    host-inbound-traffic {
                        protocols {
                            ospf3;
                        }
                    }
                }
                st0.2;
            }
        }
    }
}
interfaces {
    gr-0/0/0 {
        unit 0 {
            tunnel {
                source 11.11.0.1;
                destination 11.11.0.2;
            }
            family inet {
                address 11.11.11.1/30;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 80.1.1.1/30;
            }
        }
    }
    ge-0/0/4 {
        vlan-tagging;
        unit 0 {
            vlan-id 110;
            family inet {
                address 172.16.10.254/24;
            }
            family inet6 {
                address 2016:abcd:b1::254/64;
            }
        }
    }
    ge-0/0/5 {
        vlan-tagging;
        unit 0 {
            vlan-id 111;
            family inet {
                address 172.16.11.254/24;
            }
            family inet6 {
                address 2016:abcd:b2::254/64;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input RE-PROTECT-v4;
                }
                address 192.168.1.1/32;
            }
            family inet6 {
                filter {
                    input RE-PROTECT-v6;
                }
                address 2016:abcd:ffff::2/128;
            }
        }
    }
    st0 {
        unit 0 {
            family inet {
                address 11.11.0.1/30;
            }
        }
        unit 1 {
            family inet6 {
                address 2016:abcd::2/126;
            }
        }
        unit 2 {
            family inet6;
        }
    }
}
snmp {
    description "JNCIE-SEC device";
    location Rack;
    contact "JNCIE admin";
    view all {
        oid .1;
    }
    community roaccess {
        view all;
        authorization read-only;
        clients {
            10.10.1.20/32;
        }
    }
    community snmpRWaccess {
        clients {
            10.10.199.0/24;
            10.10.199.199/32 restrict;
        }
    }
    community JNCIE;
    trap-group sl {
        categories {
            authentication;
            chassis;
            link;
            routing;
            chassis-cluster;
        }
        targets {
            10.10.1.20;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
policy-options {
    prefix-list mgmt {
        10.0.0.0/8;
        172.16.0.0/16;
        192.168.1.1/32;
    }
}
firewall {
    family inet {
        filter RE-PROTECT-v4 {
            term IFD {
                from {
                    interface gr-0/0/0;
                    interface st0;
                }
                then accept;
            }
            term PORT-TCP {
                from {
                    source-prefix-list {
                        mgmt;
                    }
                    protocol tcp;
                    destination-port [ https ssh ];
                }
                then accept;
            }
            term LOG-TCP {
                from {
                    protocol tcp;
                    destination-port [ https ssh ];
                }
                then {
                    count LOG-TCP;
                    discard;
                }
            }
            term ICMP {
                from {
                    protocol icmp;
                }
                then {
                    policer ICMP-POLICER;
                    accept;
                }
            }
            term SNMP {
                from {
                    source-prefix-list {
                        mgmt;
                    }
                    port [ snmp snmptrap ];
                }
                then {
                    count SNMP;
                    accept;
                }
            }
            term IKE {
                from {
                    port 500;
                }
                then {
                    count IKE;
                    accept;
                }
            }
            term PORT-UDP {
                from {
                    source-prefix-list {
                        mgmt;
                    }
                    protocol udp;
                    port [ domain ntp ];
                }
                then accept;
            }
            term LOG-UDP {
                from {
                    protocol udp;
                    port [ domain ntp ];
                }
                then {
                    count LOG-UDP;
                    discard;
                }
            }
        }
    }
    family inet6 {
        filter RE-PROTECT-v6 {
            term IFD {
                from {
                    interface gr-0/0/0;
                    interface st0;
                }
                then accept;
            }
            term SRC-ALLOW {
                from {
                    source-address {
                        2016:abcd::/32;
                    }
                    source-port [ domain ntp ];
                }
                then accept;
            }
            term SRC-DENY {
                from {
                    source-port [ domain ntp ];
                }
                then count SRC-DENY;
            }
            term DST-ALLOW {
                from {
                    source-address {
                        2016:abcd::/32;
                    }
                    destination-port [ https ssh ];
                }
                then accept;
            }
            term DST-DENY {
                from {
                    destination-port [ https ssh ];
                }
                then count DST-DENY;
            }
            term ICMP {
                from {
                    icmp-type [ echo-reply echo-request destination-unreachable neighbor-advertisement neighbor-solicit time-exceeded ];
                }
                then accept;
            }
        }
    }
    policer ICMP-POLICER {
        if-exceeding {
            bandwidth-limit 256k;
            burst-size-limit 100k;
        }
        then discard;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface gr-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/4.0 {
                passive;
            }
        }
    }
    ospf3 {
        area 0.0.0.0 {
            interface st0.1 {
                interface-type p2p;
            }
            interface lo0.0 {
                passive;
            }
            interface ge-0/0/4.0 {
                passive;
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.1.1.2;
        route 10.0.0.0/8 next-hop 10.10.1.254;
    }
    router-id 192.168.1.1;
}
