## Last changed: 2019-02-09 00:40:34 UTC
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$sLja5Xf7$r4q4NY28uyRc4yomL70fQhxpyGM5fgHaZbTP3IN8I3O7kj6RrjXGz6.nunaDtqbxBj2scAfoqmrmfXjvuvrlP/"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name device5;
    services {
        ssh;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.5/24;
            }
        }
    }
}
