## Last changed: 2019-02-09 09:14:39 PST
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
    node0 {
        system {
            host-name srx5;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.5/24;
                    }
                }
            }
        }
    }
    node1 {
        system {
            host-name srx6;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.6/24;
                    }
                }
            }
        }
    }
}
apply-groups [ pki "${node}" ];
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        user admin1 {
            uid 2005;
            class admin-class;
            authentication {
                encrypted-password "$1$uE9mPnHr$ezot4lR9QaUyjzItj.p.5."; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2006;
            class restricted-class;
            authentication {
                encrypted-password "$1$XeNFKAWG$nAZBvetrHZk31/9bU6b/11"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$1$cuRZtU4h$cnMqTHxNea5FSWIXcHbCq0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    time-zone America/Los_Angeles;
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
            source-address 192.168.1.5;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$pBZoOIcN-wg4ZKM7V"; ## SECRET-DATA
        server 10.10.1.254;
        trusted-key 5;
        source-address 192.168.1.5;
    }
}
chassis {
    cluster {
        control-link-recovery;
        reth-count 2;
        redundancy-group 0 {
            node 0 priority 200;
            node 1 priority 100;
        }
        redundancy-group 1 {
            node 0 priority 200;
            node 1 priority 100;
            interface-monitor {
                ge-0/0/5 weight 255;
                ge-7/0/5 weight 255;
                ge-7/0/4 weight 255;
                ge-0/0/4 weight 255;
            }
        }
    }
}
security {
    nat {
        source {
            rule-set int-nat {
                from zone INTERNAL;
                to zone UNTRUST;
                rule for-finance-dep {
                    match {
                        source-address [ 172.16.60.0/24 192.168.1.7/32 ];
                    }
                    then {
                        source-nat {
                            interface;
                        }
                    }
                }
            }
        }
    }
    policies {
        from-zone INTERNAL to-zone UNTRUST {
            policy finance-dc-dmz-warehouse-access {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone INTERNAL to-zone DMZ {
            policy finance-dmz-access {
                match {
                    source-address finance-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internal-dmz-access {
                match {
                    source-address internal-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
                scheduler-name working-time;
            }
        }
        from-zone TRUST to-zone UNTRUST {
            policy trust-corp-network {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internet-access {
                match {
                    source-address trust-address-range;
                    destination-address any;
                    application internet-apps;
                }
                then {
                    permit;
                }
            }
            policy internet-denied-log {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    deny;
                    log {
                        session-init;
                    }
                }
            }
        }
        from-zone TRUST to-zone DMZ {
            policy trust-dmz-access {
                match {
                    source-address trust-address-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone TRUST to-zone INTERNAL {
            policy trust-to-int-priv-fin {
                match {
                    source-address trust-address-range;
                    destination-address internal-finance-private-ranges;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone DMZ to-zone UNTRUST {
            policy dmz-warehouse-access {
                match {
                    source-address dmz-range;
                    destination-address dc-warehouse-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone UNTRUST to-zone DMZ {
            policy warehouse-dmz-access {
                match {
                    source-address dc-warehouse-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy corp-dmz-acces-web-auth {
                match {
                    source-address corp-network;
                    destination-address dmz-range;
                    application dmz-apps-web-auth;
                }
                then {
                    permit {
                        firewall-authentication {
                            pass-through {
                                client-match testuser;
                            }
                        }
                    }
                }
            }
            policy corp-dmz-acces {
                match {
                    source-address corp-network;
                    destination-address dmz-range;
                    application dmz-apps;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                    telnet;
                    http;
                    https;
                }
            }
        }
        security-zone TRUST {
            address-book {
                address trust-address-range 172.16.50.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                reth1.50;
            }
        }
        security-zone DMZ {
            address-book {
                address dmz-range 172.16.55.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                reth1.55;
            }
        }
        security-zone INTERNAL {
            address-book {
                address internal-range 172.16.60.0/24;
                address finance-range 172.16.199.0/24;
                address private-range 172.16.21.0/24;
                address srx7-lo0 192.168.1.7/32;
                address-set internal-finance-private-ranges {
                    address internal-range;
                    address finance-range;
                    address private-range;
                }
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                reth1.60;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
                address dc-warehouse-range 172.16.200.0/24;
                address dc-dmz-range 172.16.150.0/24;
                address core-loopbacks 192.168.1.0/24;
                address-set dc-dmz-warehouse {
                    address dc-dmz-range;
                    address dc-warehouse-range;
                }
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                reth0.0;
            }
        }
    }
}
interfaces {
    ge-0/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-0/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    ge-7/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-7/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    fab0 {
        fabric-options {
            member-interfaces {
                ge-0/0/2;
            }
        }
    }
    fab1 {
        fabric-options {
            member-interfaces {
                ge-7/0/2;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.5/32;
            }
        }
    }
    reth0 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 1;
        }
        unit 0 {
            vlan-id 102;
            family inet {
                address 80.10.1.1/24;
            }
        }
    }
    reth1 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 1;
        }
        unit 50 {
            vlan-id 50;
            family inet {
                address 172.16.50.10/24;
            }
        }
        unit 55 {
            vlan-id 55;
            family inet {
                address 172.16.55.10/24;
            }
        }
        unit 60 {
            vlan-id 60;
            family inet {
                address 172.16.60.10/24;
            }
        }
    }
}
snmp {
    community reading {
        authorization read-only;
        clients {
            10.10.10.4/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.10.4;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.10.1.254;
        route 172.16.199.0/24 next-hop 172.16.60.1;
        route 192.168.1.7/32 next-hop 172.16.60.1;
    }
}
access {
    profile FWauth {
        authentication-order password;
        client testuser {
            firewall-user {
                password "$9$Sm9yMXVb2aGiYgF/tpEhevWXdsYgJkmTJZn/tpB1"; ## SECRET-DATA
            }
        }
        session-options {
            client-idle-timeout 60;
        }
    }
    firewall-authentication {
        pass-through {
            default-profile FWauth;
            ftp {
                banner {
                    login "Look out firewall authentication!!!";
                    success "Correct!";
                    fail "Incorrect!";
                }
            }
            telnet {
                banner {
                    login "Look out firewall authentication!!!";
                    success "Correct!";
                    fail "Incorrect!";
                }
            }
        }
    }
}
applications {
    application-set dmz-apps {
        application junos-http;
        application junos-https;
        application junos-ssh;
    }
    application-set dmz-apps-web-auth {
        application junos-ftp;
        application junos-telnet;
        application junos-http;
    }
    application-set internet-apps {
        application junos-http;
        application junos-https;
    }
}
schedulers {
    scheduler working-time {
        daily {
            start-time 08:00:00 stop-time 18:00:00;
        }
        sunday exclude;
        saturday exclude;
    }
}
