## Last changed: 2019-02-09 00:40:22 UTC
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$u5MTwMjl$FrskkFoboezrx84Lecyiog/3qxvY9gP.Ph3lDIayXu5i.JIBZp1SDdj2blidRVjI0AtQ4yq9wM4MMQVZRyYD41"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name device4;
    services {
        ssh;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.4/24;
            }
        }
    }
}
