## Last changed: 2019-02-08 18:55:02 PST
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
    node0 {
        system {
            host-name srx3;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.3/24;
                    }
                }
            }
        }
    }
    node1 {
        system {
            host-name srx4;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.4/24;
                    }
                }
            }
        }
    }
}
apply-groups [ pki "${node}" ];
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        user admin1 {
            uid 2005;
            class admin-class;
            authentication {
                encrypted-password "$1$uE9mPnHr$ezot4lR9QaUyjzItj.p.5."; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2006;
            class restricted-class;
            authentication {
                encrypted-password "$1$XeNFKAWG$nAZBvetrHZk31/9bU6b/11"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$1$cuRZtU4h$cnMqTHxNea5FSWIXcHbCq0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name srx3;
    time-zone America/Los_Angeles;
    location {
        floor 1;
        rack 1;
    }
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
            source-address 192.168.1.3;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$pBZoOIcN-wg4ZKM7V"; ## SECRET-DATA
        server 10.10.1.254;
        trusted-key 5;
        source-address 192.168.1.3;
    }
}
chassis {
    cluster {
        control-link-recovery;
        reth-count 2;
        redundancy-group 0 {
            node 0 priority 200;
            node 1 priority 100;
        }
        redundancy-group 1 {
            node 0 priority 200;
            node 1 priority 100;
            preempt;
            interface-monitor {
                ge-0/0/5 weight 255;
                ge-7/0/5 weight 255;
            }
        }
        redundancy-group 2 {
            node 0 priority 100;
            node 1 priority 200;
            preempt;
            interface-monitor {
                ge-0/0/4 weight 255;
                ge-7/0/4 weight 255;
            }
        }
    }
}
security {
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ssh;
                    telnet;
                    http;
                    https;
                    ntp;
                    snmp;
                }
            }
        }
    }
}
interfaces {
    ge-0/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-0/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    ge-7/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-7/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    fab0 {
        fabric-options {
            member-interfaces {
                ge-0/0/2;
            }
        }
    }
    fab1 {
        fabric-options {
            member-interfaces {
                ge-7/0/2;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.3/32;
            }
        }
    }
    reth0 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 1;
        }
        unit 0 {
            vlan-id 101;
            family inet {
                address 80.10.99.100/24;
            }
        }
    }
    reth1 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 2;
        }
        unit 100 {
            vlan-id 100;
            family inet {
                address 172.16.100.1/24;
            }
        }
        unit 150 {
            vlan-id 150;
            family inet {
                address 172.16.150.1/24;
            }
        }
        unit 200 {
            vlan-id 200;
            family inet {
                address 172.16.200.1/24;
            }
        }
    }
}
snmp {
    community reading {
        authorization read-only;
        clients {
            10.10.10.4/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.10.4;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
