## Last changed: 2019-02-13 10:50:49 PST
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$e108Yu5T$1QEMMj7m7AsG76IJMKmJbxqMZkAq24OteMBvtFB0zxAmTFlG5fITRG.3OMejbeoU8VnrRqvPNk6h6gxpev4MH."; ## SECRET-DATA
            }
        }
        user admin1 {
            uid 2001;
            class admin-class;
            authentication {
                encrypted-password "$6$Z05TIjBd$Otz3AdhAbFcnQynNMbDohv6MeM2HQ4EuNDahTAK710w6map3DQjAA8mtyQ.CqqO4JXmgARI76UaAicOAgrTDZ1"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2002;
            class restricted-class;
            authentication {
                encrypted-password "$6$tCIviCsO$cx/4t5dkY.4T29fU7jg/BWKCAjOwws/y4Wj.xxU9lrdH7dmGKvZO.ShgU/2kgzA.b1eH4mBBAxYVlXtMZMW7r/"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2004;
            class ronly-users;
            authentication {
                encrypted-password "$6$BQRb2bLN$/NhRBeW2KMWAt7//rLMKc7i/J9iyXDjmzCLVLakSyT8CeRMtZ3HsMwQLuIEIV8up5CZcsbodzqYhrzCzBsJzY0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name srx8;
    time-zone America/Los_Angeles;
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        host 10.10.1.254 {
            any emergency;
        }
        file messages {
            any critical;
        }
        file interactice-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
        source-address 192.168.1.1;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$4nJUH/9pB1hfT6A"; ## SECRET-DATA
        server 10.10.1.254 key 1; ## SECRET-DATA
        trusted-key 1;
        source-address 192.168.1.8;
    }
}
security {
    ike {
        traceoptions {
            file ike.log;
            flag ike;
            flag database;
            flag all;
        }
        proposal ike-proposal {
            authentication-method pre-shared-keys;
            dh-group group1;
            authentication-algorithm md5;
            encryption-algorithm des-cbc;
            lifetime-seconds 86400;
        }
        policy ike-policy {
            mode main;
            proposals ike-proposal;
            pre-shared-key ascii-text "$9$5znCO1hKMXtuMX7-2gTz3"; ## SECRET-DATA
        }
        gateway ike-gateway {
            ike-policy ike-policy;
            address 80.10.99.100;
            dead-peer-detection {
                always-send;
                interval 10;
                threshold 5;
            }
            external-interface ge-0/0/3.0;
        }
    }
    ipsec {
        proposal ipsec-proposal {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-128-cbc;
            lifetime-seconds 43200;
        }
        policy ipsec-policy {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals ipsec-proposal;
        }
        vpn to-cluster1 {
            ike {
                gateway ike-gateway;
                ipsec-policy ipsec-policy;
            }
            establish-tunnels immediately;
        }
    }
    utm {
        custom-objects {
            mime-pattern {
                AV-excluded-mime {
                    value [ audio/ video/ application/ ];
                }
                AV-included-mime {
                    value [ application/javascript application/ecmascript ];
                }
            }
            url-pattern {
                denied-sites {
                    value [ http://www.facebook.com http://www.myspace.com ];
                }
                company-site {
                    value http://www.company.com;
                }
            }
            custom-url-category {
                denied-sites-category {
                    value denied-sites;
                }
                AV-excluded-sites {
                    value company-site;
                }
            }
        }
        feature-profile {
            anti-virus {
                mime-whitelist {
                    list AV-excluded-mime;
                    exception AV-included-mime;
                }
                url-whitelist AV-excluded-sites;
                sophos-engine {
                    profile AV-full-file-scan {
                        fallback-options {
                            default log-and-permit;
                            content-size block;
                            engine-not-ready block;
                            timeout block;
                            out-of-resources block;
                            too-many-requests block;
                        }
                        scan-options {
                            timeout 600;
                        }
                        trickling timeout 25;
                        notification-options {
                            virus-detection {
                                type message;
                                custom-message "AV Engine detected virus!";
                                custom-message-subject AntiVirus;
                            }
                            fallback-block {
                                type protocol-only;
                                notify-mail-sender;
                                custom-message "AV denied the message, because it was not able to scan it!";
                                custom-message-subject AntiVirus;
                            }
                            fallback-non-block {
                                notify-mail-recipient;
                                custom-message "AV was not able to scan the message! ";
                                custom-message-subject Antivirus;
                            }
                        }
                    }
                }
            }
            web-filtering {
                url-blacklist denied-sites-category;
                type juniper-local;
                juniper-local {
                    profile HomeOffice-web-filtering {
                        default permit;
                        custom-block-message "This page is not allowed!";
                        fallback-settings {
                            default block;
                            timeout block;
                            too-many-requests block;
                        }
                    }
                }
            }
        }
        utm-policy home-office-utm {
            anti-virus {
                http-profile AV-full-file-scan;
                ftp {
                    upload-profile AV-full-file-scan;
                    download-profile AV-full-file-scan;
                }
                smtp-profile AV-full-file-scan;
            }
            web-filtering {
                http-profile HomeOffice-web-filtering;
            }
        }
    }
    policies {
        from-zone TRUST to-zone UNTRUST {
            policy ipsec-out {
                match {
                    source-address trust-address-range;
                    destination-address dc-trust-address-range;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-cluster1;
                            pair-policy ipsec-in;
                        }
                    }
                }
            }
            policy corp-network-access {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internet-access {
                match {
                    source-address trust-address-range;
                    destination-address any;
                    application internet-apps;
                }
                then {
                    permit {
                        application-services {
                            utm-policy home-office-utm;
                        }
                    }
                }
            }
        }
        from-zone UNTRUST to-zone TRUST {
            policy ipsec-in {
                match {
                    source-address dc-trust-address-range;
                    destination-address trust-address-range;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-cluster1;
                            pair-policy ipsec-out;
                        }
                    }
                }
            }
        }
    }
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ssh;
                    telnet;
                    http;
                    https;
                    ntp;
                    snmp;
                    ping;
                }
            }
        }
        security-zone TRUST {
            address-book {
                address trust-address-range 192.168.10.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                ge-0/0/1.0;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
                address dc-trust-address-range 172.16.100.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ike;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                ge-0/0/3.0;
                lo0.0;
            }
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 192.168.10.254/24;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 80.10.199.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.8/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.8/32;
            }
        }
    }
}
snmp {
    description "JNCIE-SEC device";
    location "Sunnyvale rack";
    contact "Admin user";
    community JNCIE;
    community reading {
        authorization read-only;
        clients {
            10.10.1.254/32;
        }
    }
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.1.254;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.10.199.254;
    }
}
applications {
    application-set internet-apps {
        application junos-http;
        application junos-https;
        application junos-mail;
        application junos-ftp;
    }
}
