## Last changed: 2019-02-26 22:16:36 UTC
version 18.4R1.8;
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user admin1 {
            uid 2001;
            class admin-class;
            authentication {
                encrypted-password "$6$o3KjtI9r$taALoU3Ii9wREnuHXFcoRP45IpgKiam4r8fKUEHmiRSiwdu/Tt8RGF49GBrNGFyHQayjkeHkYMwHpkQF2Mhhn1"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$e/2DLJs1$Udr2Myj8Jc.oHTr6wodZq5QxG4nFuAmWgzLKnPGDUtMLBAH3S5.YAH9e.5VTmWj/tflnNVAE2c0eewBLM/INr0"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2002;
            class restricted-class;
            authentication {
                encrypted-password "$6$m0Qjjede$E1m2npAmdnj8HiY7yEXBXeFITCUIsSh2Vq1mKwmNOb56P1JoudQ1MAGsDIgpfDEXo83e.wkzYj.6PlWZvUGe6."; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2004;
            class ronly-users;
            authentication {
                encrypted-password "$6$S55VRpJ5$PpQO9aWA6o9VY2UssWL0qS9s0SlwwkFTWL/3oHr/N0X5/x2eign6Wn7CF0NRmE9MVhFLtXDJyv/k/0GZz1SYs1"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ftp {
            connection-limit 5;
        }
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    host-name srx8;
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
        source-address 192.168.1.8;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$bFY4ZQz6AtOHqT3"; ## SECRET-DATA
        server 10.10.1.254 key 1; ## SECRET-DATA
        trusted-key 1;
        source-address 192.168.1.8;
    }
}
security {
    utm {
        custom-objects {
            mime-pattern {
                AV-excluded-mime {
                    value [ audio/ video/ application/ ];
                }
                AV-included-mime {
                    value [ application/javascript application/ecmascript ];
                }
            }
            url-pattern {
                denied-sites {
                    value [ http://www.facebook.com http://www.myspace.com ];
                }
                company-site {
                    value http://www.company.com;
                }
            }
            custom-url-category {
                denied-sites-category {
                    value denied-sites;
                }
                AV-excluded-sites {
                    value company-site;
                }
            }
        }
        feature-profile {
            anti-virus {
                mime-whitelist {
                    list AV-excluded-mime;
                    exception AV-included-mime;
                }
                url-whitelist AV-excluded-sites;
                sophos-engine {
                    profile AV-full-file-scan {
                        fallback-options {
                            default log-and-permit;
                            content-size block;
                            engine-not-ready block;
                            timeout block;
                            out-of-resources block;
                            too-many-requests block;
                        }
                        scan-options {
                            timeout 600;
                        }
                        trickling timeout 25;
                        notification-options {
                            virus-detection {
                                type message;
                                custom-message "AV Engine detected virus!";
                                custom-message-subject AntiVirus;
                            }
                            fallback-block {
                                type protocol-only;
                                notify-mail-sender;
                                custom-message "AV denied the message, because it was not able to scan it!";
                                custom-message-subject AntiVirus;
                            }
                            fallback-non-block {
                                notify-mail-recipient;
                                custom-message "AV was not able to scan the message! ";
                                custom-message-subject Antivirus;
                            }
                        }
                    }
                }
            }
            web-filtering {
                url-blacklist denied-sites-category;
                type juniper-local;
                juniper-local {
                    profile HomeOffice-web-filtering {
                        default permit;
                        custom-block-message "This page is not allowed!";
                        fallback-settings {
                            default block;
                            timeout block;
                            too-many-requests block;
                        }
                    }
                }
            }
        }
        utm-policy home-office-utm {
            anti-virus {
                http-profile AV-full-file-scan;
                ftp {
                    upload-profile AV-full-file-scan;
                    download-profile AV-full-file-scan;
                }
                smtp-profile AV-full-file-scan;
            }
            web-filtering {
                http-profile HomeOffice-web-filtering;
            }
        }
    }
    policies {
        from-zone TRUST to-zone UNTRUST {
            policy corp-network-access {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internet-access {
                match {
                    source-address trust-address-range;
                    destination-address any;
                    application internet-apps;
                }
                then {
                    permit {
                        application-services {
                            utm-policy home-office-utm;
                        }
                    }
                }
            }
        }
    }
    zones {
        security-zone TRUST {
            address-book {
                address trust-address-range 192.168.10.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                ge-0/0/1.0;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                ge-0/0/3.0;
            }
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 192.168.10.254/24;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 80.10.199.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.8/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.8/32;
            }
        }
    }
}
snmp {
    description "JNCIE-SEC device";
    location "Sunnyvale rack";
    contact "Admin user";
    community reading {
        authorization read-only;
        clients {
            10.10.1.254/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.1.254;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
applications {
    application-set internet-apps {
        application junos-http;
        application junos-https;
        application junos-mail;
        application junos-ftp;
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.10.199.254;
    }
}
