## Last changed: 2019-02-09 09:30:54 PST
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        user admin1 {
            uid 2005;
            class admin-class;
            authentication {
                encrypted-password "$1$uE9mPnHr$ezot4lR9QaUyjzItj.p.5."; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2006;
            class restricted-class;
            authentication {
                encrypted-password "$1$XeNFKAWG$nAZBvetrHZk31/9bU6b/11"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$1$cuRZtU4h$cnMqTHxNea5FSWIXcHbCq0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name srx8;
    time-zone America/Los_Angeles;
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
            source-address 192.168.1.8;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$pBZoOIcN-wg4ZKM7V"; ## SECRET-DATA
        server 10.10.1.254;
        trusted-key 5;
        source-address 192.168.1.8;
    }
}
security {
    policies {
        from-zone TRUST to-zone UNTRUST {
            policy corp-network-access {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internet-access {
                match {
                    source-address trust-address-range;
                    destination-address any;
                    application internet-apps;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                    telnet;
                    http;
                    https;
                }
            }
        }
        security-zone TRUST {
            address-book {
                address trust-address-range 192.168.10.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                ge-0/0/1.0;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                ge-0/0/3.0;
            }
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 192.168.10.254/24;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 80.10.199.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.8/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.8/32;
            }
        }
    }
}
snmp {
    community reading {
        authorization read-only;
        clients {
            10.10.10.4/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.10.4;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.10.199.254;
    }
}
applications {
    application-set internet-apps {
        application junos-http;
        application junos-https;
    }
}
