## Last changed: 2019-02-26 14:51:09 UTC
version 18.4R1.8;
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user admin1 {
            uid 2000;
            class admin-class;
            authentication {
                encrypted-password "$6$o3KjtI9r$taALoU3Ii9wREnuHXFcoRP45IpgKiam4r8fKUEHmiRSiwdu/Tt8RGF49GBrNGFyHQayjkeHkYMwHpkQF2Mhhn1"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$e/2DLJs1$Udr2Myj8Jc.oHTr6wodZq5QxG4nFuAmWgzLKnPGDUtMLBAH3S5.YAH9e.5VTmWj/tflnNVAE2c0eewBLM/INr0"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2001;
            class restricted-class;
            authentication {
                encrypted-password "$6$m0Qjjede$E1m2npAmdnj8HiY7yEXBXeFITCUIsSh2Vq1mKwmNOb56P1JoudQ1MAGsDIgpfDEXo83e.wkzYj.6PlWZvUGe6."; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2004;
            class ronly-users;
            authentication {
                encrypted-password "$6$S55VRpJ5$PpQO9aWA6o9VY2UssWL0qS9s0SlwwkFTWL/3oHr/N0X5/x2eign6Wn7CF0NRmE9MVhFLtXDJyv/k/0GZz1SYs1"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ftp {
            connection-limit 5;
        }
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    host-name srx3;
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
        source-address 192.168.1.3;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$bFY4ZQz6AtOHqT3"; ## SECRET-DATA
        server 10.10.1.254 key 1; ## SECRET-DATA
        trusted-key 1;
        source-address 192.168.1.3;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.3/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.3/32;
            }
        }
    }
}
snmp {
    description "JNCIE-SEC device";
    location "Sunnyvale rack";
    contact "Admin user";
    community reading {
        authorization read-only;
        clients {
            10.10.1.254/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.1.254;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
