## Last changed: 2019-02-27 16:59:16 UTC
version 18.4R1.8;
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
    node0 {
        system {
            host-name srx3;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.3/24;
                    }
                }
            }
        }
    }
    node1 {
        system {
            host-name srx4;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.4/24;
                    }
                }
            }
        }
    }
}
apply-groups [ pki "${node}" ];
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user admin1 {
            uid 2000;
            class admin-class;
            authentication {
                encrypted-password "$6$o3KjtI9r$taALoU3Ii9wREnuHXFcoRP45IpgKiam4r8fKUEHmiRSiwdu/Tt8RGF49GBrNGFyHQayjkeHkYMwHpkQF2Mhhn1"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$e/2DLJs1$Udr2Myj8Jc.oHTr6wodZq5QxG4nFuAmWgzLKnPGDUtMLBAH3S5.YAH9e.5VTmWj/tflnNVAE2c0eewBLM/INr0"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2001;
            class restricted-class;
            authentication {
                encrypted-password "$6$m0Qjjede$E1m2npAmdnj8HiY7yEXBXeFITCUIsSh2Vq1mKwmNOb56P1JoudQ1MAGsDIgpfDEXo83e.wkzYj.6PlWZvUGe6."; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2004;
            class ronly-users;
            authentication {
                encrypted-password "$6$S55VRpJ5$PpQO9aWA6o9VY2UssWL0qS9s0SlwwkFTWL/3oHr/N0X5/x2eign6Wn7CF0NRmE9MVhFLtXDJyv/k/0GZz1SYs1"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ftp {
            connection-limit 5;
        }
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
        source-address 192.168.1.3;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$bFY4ZQz6AtOHqT3"; ## SECRET-DATA
        server 10.10.1.254 key 1; ## SECRET-DATA
        trusted-key 1;
        source-address 192.168.1.3;
    }
}
chassis {
    cluster {
        control-link-recovery;
        reth-count 2;
        redundancy-group 0 {
            node 0 priority 200;
            node 1 priority 100;
        }
        redundancy-group 1 {
            node 0 priority 200;
            node 1 priority 100;
            preempt;
            interface-monitor {
                ge-0/0/5 weight 255;
                ge-7/0/5 weight 255;
            }
        }
        redundancy-group 2 {
            node 0 priority 100;
            node 1 priority 200;
            preempt;
            interface-monitor {
                ge-7/0/4 weight 255;
                ge-0/0/4 weight 255;
            }
        }
    }
}
security {
    ike {
        proposal ike-proposal-1 {
            authentication-method pre-shared-keys;
            dh-group group1;
            authentication-algorithm md5;
            encryption-algorithm des-cbc;
            lifetime-seconds 86400;
        }
        proposal ike-proposal-2 {
            authentication-method pre-shared-keys;
            dh-group group5;
            authentication-algorithm sha1;
            encryption-algorithm 3des-cbc;
            lifetime-seconds 86400;
        }
        policy ike-policy-1 {
            mode main;
            proposals ike-proposal-1;
            pre-shared-key ascii-text "$9$5znCO1hKMXtuMX7-2gTz3"; ## SECRET-DATA
        }
        policy ike-policy-2 {
            mode aggressive;
            proposals ike-proposal-2;
            pre-shared-key ascii-text "$9$zj5Y3/tleWN-wM8qfTzCAvWLNb2"; ## SECRET-DATA
        }
        gateway ike-gateway-1 {
            ike-policy ike-policy-1;
            address 80.10.199.1;
            dead-peer-detection {
                always-send;
                interval 10;
                threshold 5;
            }
            external-interface reth0.0;
        }
        gateway ike-gateway-2 {
            ike-policy ike-policy-2;
            dynamic hostname srx7;
            dead-peer-detection {
                always-send;
                interval 10;
                threshold 5;
            }
            external-interface reth0.0;
        }
    }
    ipsec {
        traceoptions {
            flag security-associations;
        }
        proposal ipsec-proposal-1 {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-128-cbc;
            lifetime-seconds 43200;
        }
        proposal ipsec-proposal-2 {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-192-cbc;
            lifetime-kilobytes 5000;
        }
        policy ipsec-policy-1 {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals ipsec-proposal-1;
        }
        policy ipsec-policy-2 {
            proposals ipsec-proposal-2;
        }
        vpn to-srx8 {
            ike {
                gateway ike-gateway-1;
                ipsec-policy ipsec-policy-1;
            }
            establish-tunnels immediately;
        }
        vpn to-srx7 {
            ike {
                gateway ike-gateway-2;
                ipsec-policy ipsec-policy-2;
            }
        }
    }
    policies {
        from-zone TRUST to-zone UNTRUST {
            policy ipsec-out-1 {
                match {
                    source-address trust-address-range;
                    destination-address home-trust;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-srx8;
                            pair-policy ipsec-in-1;
                        }
                    }
                }
            }
            policy corp-access {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internet-denied-log {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    deny;
                    log {
                        session-init;
                    }
                }
            }
        }
        from-zone TRUST to-zone DMZ {
            policy trust-dmz-access {
                match {
                    source-address trust-address-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone UNTRUST to-zone DMZ {
            policy access-from-corp {
                match {
                    source-address corp-network;
                    destination-address dmz-range;
                    application dmz-apps;
                }
                then {
                    permit;
                }
            }
        }
        from-zone TRUST to-zone WAREHOUSE {
            policy trust-warehouse-access {
                match {
                    source-address trust-address-range;
                    destination-address warehouse-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone DMZ to-zone WAREHOUSE {
            policy dmz-warehouse-access {
                match {
                    source-address dmz-range;
                    destination-address warehouse-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone WAREHOUSE to-zone DMZ {
            policy warehouse-dmz-access {
                match {
                    source-address warehouse-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone WAREHOUSE to-zone UNTRUST {
            policy warehouse-co-dmz-access {
                match {
                    source-address warehouse-range;
                    destination-address co-dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy ipsec-out-2 {
                match {
                    source-address warehouse-range;
                    destination-address finance-range;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-srx7;
                            pair-policy ipsec-in-2;
                        }
                    }
                }
            }
        }
        from-zone UNTRUST to-zone WAREHOUSE {
            policy co-dmz-warehouse {
                match {
                    source-address co-dmz-range;
                    destination-address warehouse-range;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy finance-warehouse-access {
                match {
                    source-address finance-range;
                    destination-address warehouse-range;
                    application custom-sql;
                }
                then {
                    permit;
                }
            }
            policy ipsec-in-2 {
                match {
                    source-address finance-range;
                    destination-address warehouse-range;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-srx7;
                            pair-policy ipsec-out-2;
                        }
                    }
                }
            }
        }
        from-zone UNTRUST to-zone TRUST {
            policy ipsec-in-1 {
                match {
                    source-address home-trust;
                    destination-address trust-address-range;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-srx8;
                            pair-policy ipsec-out-1;
                        }
                    }
                }
            }
        }
    }
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                    telnet;
                    http;
                    https;
                }
            }
        }
        security-zone TRUST {
            address-book {
                address trust-address-range 172.16.100.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                reth1.100;
            }
        }
        security-zone DMZ {
            address-book {
                address dmz-range 172.16.150.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                reth1.150;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
                address co-dmz-range 172.16.55.0/24;
                address finance-range 172.16.199.0/24;
                address corp-loobacks 192.168.1.0/24;
                address home-trust 192.168.10.0/24;
                address corp-gws 80.10.0.0/16;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ike;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                reth0.0;
                lo0.0;
            }
        }
        security-zone WAREHOUSE {
            address-book {
                address warehouse-range 172.16.200.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                reth1.200;
            }
        }
    }
}
interfaces {
    ge-0/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-0/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    ge-7/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-7/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    fab0 {
        fabric-options {
            member-interfaces {
                ge-0/0/2;
            }
        }
    }
    fab1 {
        fabric-options {
            member-interfaces {
                ge-7/0/2;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.3/32;
            }
        }
    }
    reth0 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 1;
        }
        unit 0 {
            vlan-id 101;
            family inet {
                address 80.10.99.100/24;
            }
        }
    }
    reth1 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 2;
        }
        unit 100 {
            vlan-id 100;
            family inet {
                address 172.16.100.1/24;
            }
        }
        unit 150 {
            vlan-id 150;
            family inet {
                address 172.16.150.1/24;
            }
        }
        unit 200 {
            vlan-id 200;
            family inet {
                address 172.16.200.1/24;
            }
        }
    }
}
snmp {
    description "JNCIE-SEC device";
    location "Sunnyvale rack";
    contact "Admin user";
    community reading {
        authorization read-only;
        clients {
            10.10.1.254/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.1.254;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
applications {
    application custom-sql {
        application-protocol sqlnet-v2;
        protocol tcp;
        destination-port 5000-6000;
    }
    application-set dmz-apps {
        application junos-http;
        application junos-https;
        application junos-ssh;
        application junos-ftp;
        application junos-smtp;
        application junos-telnet;
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.10.99.254;
    }
}
