## Last changed: 2019-02-09 09:39:54 PST
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
    node0 {
        system {
            host-name srx3;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.3/24;
                    }
                }
            }
        }
    }
    node1 {
        system {
            host-name srx4;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.10.1.4/24;
                    }
                }
            }
        }
    }
}
apply-groups [ pki "${node}" ];
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        user admin1 {
            uid 2005;
            class admin-class;
            authentication {
                encrypted-password "$1$uE9mPnHr$ezot4lR9QaUyjzItj.p.5."; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2006;
            class restricted-class;
            authentication {
                encrypted-password "$1$XeNFKAWG$nAZBvetrHZk31/9bU6b/11"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$1$cuRZtU4h$cnMqTHxNea5FSWIXcHbCq0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    time-zone America/Los_Angeles;
    scripts {
        commit {
            inactive: file templates.xsl;
        }
    }
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
            source-address 192.168.1.3;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$pBZoOIcN-wg4ZKM7V"; ## SECRET-DATA
        server 10.10.1.254;
        trusted-key 5;
        source-address 192.168.1.3;
    }
}
chassis {
    cluster {
        control-link-recovery;
        reth-count 2;
        redundancy-group 0 {
            node 0 priority 200;
            node 1 priority 100;
        }
        redundancy-group 1 {
            node 0 priority 200;
            node 1 priority 100;
            preempt;
            interface-monitor {
                ge-0/0/5 weight 255;
                ge-7/0/5 weight 255;
            }
        }
        redundancy-group 2 {
            node 0 priority 100;
            node 1 priority 200;
            preempt;
            interface-monitor {
                ge-7/0/4 weight 255;
                ge-0/0/4 weight 255;
            }
        }
    }
}
security {
    idp {
        idp-policy Recommended {
            rulebase-ips {
                rule 1 {
                    match {
                        from-zone any;
                        source-address any;
                        to-zone any;
                        destination-address any;
                        application default;
                        attacks {
                            predefined-attack-groups [ "[Recommended]IP - Critical" "[Recommended]IP - Minor" "[Recommended]IP - Major" "[Recommended]TCP - Critical" "[Recommended]TCP - Minor" "[Recommended]TCP - Major" ];
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        notification {
                            log-attacks;
                        }
                    }
                }
                rule 3 {
                    match {
                        from-zone any;
                        source-address any;
                        to-zone any;
                        destination-address any;
                        application default;
                        attacks {
                            predefined-attack-groups [ "[Recommended]HTTP - Critical" "[Recommended]HTTP - Major" "[Recommended]HTTP - Minor" ];
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        notification {
                            log-attacks;
                        }
                    }
                }
                rule 4 {
                    match {
                        from-zone any;
                        source-address any;
                        to-zone any;
                        destination-address any;
                        application default;
                        attacks {
                            predefined-attack-groups [ "[Recommended]SMTP - Critical" "[Recommended]SMTP - Major" "[Recommended]SMTP - Minor" ];
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        notification {
                            log-attacks;
                        }
                    }
                }
                rule 6 {
                    match {
                        from-zone any;
                        source-address any;
                        to-zone any;
                        destination-address any;
                        application default;
                        attacks {
                            predefined-attack-groups [ "[Recommended]FTP - Critical" "[Recommended]FTP - Minor" "[Recommended]FTP - Major" ];
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        notification {
                            log-attacks;
                        }
                    }
                }
                rule 7 {
                    match {
                        from-zone any;
                        source-address any;
                        to-zone any;
                        destination-address any;
                        application default;
                        attacks {
                            predefined-attack-groups [ "[Recommended]POP3 - Critical" "[Recommended]POP3 - Minor" "[Recommended]POP3 - Major" ];
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        notification {
                            log-attacks;
                        }
                    }
                }
                rule 8 {
                    match {
                        from-zone any;
                        source-address any;
                        to-zone any;
                        destination-address any;
                        application default;
                        attacks {
                            predefined-attack-groups [ "[Recommended]IMAP - Critical" "[Recommended]IMAP - Major" ];
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        notification {
                            log-attacks;
                        }
                    }
                }
                rule 9 {
                    match {
                        from-zone any;
                        source-address any;
                        to-zone any;
                        destination-address any;
                        application default;
                        attacks {
                            predefined-attack-groups [ "[Recommended]TROJAN - Critical" "[Recommended]TROJAN - Major" "[Recommended]TROJAN - Minor" "[Recommended]VIRUS - Critical" "[Recommended]VIRUS - Major" "[Recommended]VIRUS - Minor" "[Recommended]WORM - Critical" "[Recommended]WORM - Major" "[Recommended]WORM - Minor" ];
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        notification {
                            log-attacks;
                        }
                    }
                }
                rule deny-anonymous-ftp {
                    match {
                        from-zone UNTRUST;
                        source-address any;
                        to-zone DMZ;
                        destination-address [ 172.16.150.1/32 172.16.150.2/32 ];
                        application junos-ftp;
                        attacks {
                            custom-attacks deny-ftp-anonymous;
                        }
                    }
                    then {
                        action {
                            recommended;
                        }
                        ip-action {
                            ip-block;
                            target source-address;
                            timeout 3600;
                        }
                        notification {
                            log-attacks {
                                alert;
                            }
                        }
                    }
                }
            }
            rulebase-exempt {
                rule allowed-ftp-anonymous-access {
                    match {
                        from-zone UNTRUST;
                        source-address 80.10.1.128/29;
                        to-zone DMZ;
                        destination-address [ 172.16.150.1/32 172.16.150.2/32 ];
                        attacks {
                            custom-attacks deny-ftp-anonymous;
                        }
                    }
                }
            }
        }
        active-policy Recommended;
        custom-attack deny-ftp-anonymous {
            recommended-action drop;
            severity major;
            attack-type {
                signature {
                    context ftp-username;
                    pattern "^anonymous$";
                    direction client-to-server;
                }
            }
        }
    }
    flow {
        syn-flood-protection-mode syn-cookie;
    }
    screen {
        ids-option untrust-protection {
            tcp {
                syn-flood {
                    alarm-threshold 1000;
                    attack-threshold 1500;
                }
            }
        }
    }
    policies {
        from-zone TRUST to-zone UNTRUST {
            policy corp-access {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internet-denied-log {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    deny;
                    log {
                        session-init;
                    }
                }
            }
        }
        from-zone TRUST to-zone DMZ {
            policy trust-dmz-access {
                match {
                    source-address trust-address-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone TRUST to-zone WAREHOUSE {
            policy trust-warehouse-access {
                match {
                    source-address trust-address-range;
                    destination-address warehouse-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone DMZ to-zone WAREHOUSE {
            policy dmz-warehouse-access {
                match {
                    source-address dmz-range;
                    destination-address warehouse-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone WAREHOUSE to-zone DMZ {
            policy warehouse-dmz-access {
                match {
                    source-address warehouse-range;
                    destination-address dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone WAREHOUSE to-zone UNTRUST {
            policy warehouse-co-dmz-access {
                match {
                    source-address warehouse-range;
                    destination-address co-dmz-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone UNTRUST to-zone DMZ {
            policy idp-inspection {
                match {
                    source-address any;
                    destination-address any;
                    application [ junos-http junos-smtp junos-pop3 junos-imap junos-ftp ];
                }
                then {
                    permit {
                        application-services {
                            idp;
                        }
                    }
                }
            }
        }
        from-zone UNTRUST to-zone WAREHOUSE {
            policy idp-inspection-warehouse {
                match {
                    source-address any;
                    destination-address any;
                    application [ junos-smtp junos-pop3 junos-imap ];
                }
                then {
                    permit {
                        application-services {
                            idp;
                        }
                    }
                }
            }
        }
        from-zone DMZ to-zone UNTRUST {
            policy idp-inspection-from-dmz {
                match {
                    source-address any;
                    destination-address any;
                    application [ junos-http junos-smtp junos-pop3 junos-imap junos-ftp ];
                }
                then {
                    permit {
                        application-services {
                            idp;
                        }
                    }
                }
            }
        }
    }
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                    telnet;
                    http;
                    https;
                    ntp;
                    snmp;
                }
            }
        }
        security-zone TRUST {
            address-book {
                address trust-address-range 172.16.100.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                reth1.100;
            }
        }
        security-zone DMZ {
            address-book {
                address dmz-range 172.16.150.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                reth1.150;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
                address co-dmz-range 172.16.55.0/24;
                address finance-range 172.16.199.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                reth0.0;
            }
        }
        security-zone WAREHOUSE {
            address-book {
                address warehouse-range 172.16.200.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                reth1.200;
            }
        }
    }
}
interfaces {
    ge-0/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-0/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    ge-7/0/4 {
        gigether-options {
            redundant-parent reth1;
        }
    }
    ge-7/0/5 {
        gigether-options {
            redundant-parent reth0;
        }
    }
    fab0 {
        fabric-options {
            member-interfaces {
                ge-0/0/2;
            }
        }
    }
    fab1 {
        fabric-options {
            member-interfaces {
                ge-7/0/2;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input protect-lo0;
                }
                address 192.168.1.3/32;
            }
        }
    }
    reth0 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 1;
        }
        unit 0 {
            vlan-id 101;
            family inet {
                address 80.10.99.100/24;
            }
        }
    }
    reth1 {
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 2;
        }
        unit 100 {
            vlan-id 100;
            family inet {
                address 172.16.100.1/24;
            }
        }
        unit 150 {
            vlan-id 150;
            family inet {
                address 172.16.150.1/24;
            }
        }
        unit 200 {
            vlan-id 200;
            family inet {
                address 172.16.200.1/24;
            }
        }
    }
}
snmp {
    community reading {
        authorization read-only;
        clients {
            10.10.10.4/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.10.4;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.10.1.254;
    }
}
firewall {
    family inet {
        filter protect-lo0 {
            term ipsec {
                from {
                    source-address {
                        80.10.0.0/16;
                    }
                    protocol [ esp udp ];
                    port [ 500 4500 ];
                }
                then accept;
            }
            term ospf {
                from {
                    source-address {
                        11.0.0.0/24;
                    }
                    protocol ospf;
                }
                then accept;
            }
            term dns-ntp {
                from {
                    source-address {
                        10.10.10.0/24;
                    }
                    protocol udp;
                    destination-port [ 53 123 ];
                }
            }
            term radius-snmp {
                from {
                    source-address {
                        10.0.0.0/8;
                    }
                    protocol udp;
                    destination-port [ snmp radius ];
                }
                then accept;
            }
            term telnet-https-ssh {
                from {
                    source-address {
                        10.0.0.0/8;
                    }
                    protocol tcp;
                    destination-port [ https telnet ssh ];
                }
                then accept;
            }
            term ping {
                from {
                    protocol icmp;
                }
                then accept;
            }
            term rate-limit-ftp-http {
                from {
                    source-address {
                        10.0.0.0/8;
                    }
                    protocol tcp;
                    port [ ftp ftp-data http ];
                }
                then policer rate-limit-ftp-http;
            }
            term deny-any-other {
                then {
                    syslog;
                    discard;
                }
            }
        }
    }
    policer rate-limit-ftp-http {
        if-exceeding {
            bandwidth-limit 1m;
            burst-size-limit 100k;
        }
        then discard;
    }
}
applications {
    application custom-sql {
        application-protocol sqlnet-v2;
        protocol tcp;
        destination-port 5000-6000;
    }
    application-set dmz-apps {
        application junos-http;
        application junos-https;
        application junos-ssh;
        application junos-ftp;
        application junos-smtp;
        application junos-telnet;
    }
}
