## Last changed: 2019-02-09 10:16:49 PST
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name srx6;
    services {
        ssh {
            root-login allow;
        }
        telnet;
    }
}
security {
    address-book {
        global {
            address CENTRAL-TRUST 172.16.50.0/24;
            address CENTRAL-INTERNAL 172.16.55.0/24;
            address CENTRAL-WAREHOUSE 172.16.60.0/24;
            address CENTRAL-TESTBED6 172.16.65.0/24;
            address CENTRAL-TESTBED7 172.16.70.0/24;
            address SRV-MAIL 172.16.60.199/32;
            address WAREHOUSE-SRV-205 172.16.60.205/32;
            address WAREHOUSE-SRV-206 172.16.60.206/32;
            address WAREHOUSE-HONEYPOT 172.16.60.207/32;
            address RO1-TRUST 172.16.10.0/24;
            address RO2-TRUST 172.16.20.0/24;
            address EXA-TRUST 172.16.10.0/24;
            address WEBSENSE 172.16.60.99/32;
            address RO1-HOST-PRIVATE 172.16.11.50/32;
            address RO2-SRV-WEB 172.16.21.2/32;
            address RO2-SRV-DB 172.16.21.33/32;
            address EXA-SRV-WEB 172.16.30.11/32;
            address EXA-SRV-DB 172.16.30.12/32;
            address EXA-SRV-SSH 172.16.30.13/32;
            address EXA-PRIVATE 172.16.15.0/24;
            address HOFFICE-TRUST 172.16.77.0/24;
            address EXA-TRUST-OVERLAP 172.16.110.0/24;
            address RO1-TRUST-OVERLAP 172.16.111.0/24;
            address BUILDING-TRUST-B1 172.16.100.0/24;
            address BUILDING-TRUST-B2 172.16.200.0/24;
            address BUILDING-DMZ-B2 172.16.201.0/24;
            address BUILDING-DMZ-B1 172.16.101.0/24;
            address-set CENTRAL-TESTBED {
                address CENTRAL-TESTBED6;
                address CENTRAL-TESTBED7;
            }
            address-set TRUST-NETWORKS {
                address RO1-TRUST;
                address RO2-TRUST;
                address CENTRAL-TRUST;
                address HOFFICE-TRUST;
                address EXA-TRUST-OVERLAP;
                address RO1-TRUST-OVERLAP;
                address BUILDING-TRUST-B1;
                address BUILDING-TRUST-B2;
            }
        }
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.6/24;
            }
        }
    }
}
