## Last changed: 2019-02-27 21:13:14 UTC
version 17.4R1.16;
system {
    host-name vqfx;
    root-authentication {
        encrypted-password "$6$9Ps2pZ73$oeprzCQZbzs7.Qdeoh18ZoWvohsUA5TdJVpbVPwsGBP6w6kowNQ6MT2ptEJcWD4xlvhE6fDA/1pp5hqGZn0BW/"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$xDcbcDGI$Gihkzn6xVdasoJLLkc3qew/kmfKyuDXYIIceodY/21Y7hGgGoLKDgXv54tHyvEvGxVj8T5KntMdrCRQP1F.NA1"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            root-login allow;
            log-key-changes;
        }
    }
    syslog {
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    xe-0/0/0 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    xe-0/0/1 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    xe-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    em0 {
        unit 0 {
            family inet {
                address 10.10.1.10/24;
            }
        }
    }
    em1 {
        unit 0 {
            family inet {
                address 169.254.0.2/24;
            }
        }
    }
}
forwarding-options {
    storm-control-profiles default {
        all;
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.10.1.254;
    }
}
protocols {
    igmp-snooping {
        vlan default;
    }
}
vlans {
    inactive: v-all {
        vlan-id-list 1-4093;
    }
    v50 {
        vlan-id 50;
    }
    v55 {
        vlan-id 55;
    }
    v60 {
        vlan-id 60;
    }
}
