## Last changed: 2019-02-09 01:40:04 CET
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$OGNEhedo$HriAWqgDnQFJ.7hLIy1JdIgBSYj1uTqMKXoKb1/EKs0LPEJoX9b3UEDcukTUW0g66tEuUJV8HDPYA0GsjlMA1/"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name device2;
    services {
        ssh;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.2/24;
            }
        }
    }
}
