## Last changed: 2019-02-27 10:19:29 PST
version 18.4R1.8;
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user admin1 {
            uid 2000;
            class admin-class;
            authentication {
                encrypted-password "$6$o3KjtI9r$taALoU3Ii9wREnuHXFcoRP45IpgKiam4r8fKUEHmiRSiwdu/Tt8RGF49GBrNGFyHQayjkeHkYMwHpkQF2Mhhn1"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$e/2DLJs1$Udr2Myj8Jc.oHTr6wodZq5QxG4nFuAmWgzLKnPGDUtMLBAH3S5.YAH9e.5VTmWj/tflnNVAE2c0eewBLM/INr0"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2001;
            class restricted-class;
            authentication {
                encrypted-password "$6$m0Qjjede$E1m2npAmdnj8HiY7yEXBXeFITCUIsSh2Vq1mKwmNOb56P1JoudQ1MAGsDIgpfDEXo83e.wkzYj.6PlWZvUGe6."; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$6$S55VRpJ5$PpQO9aWA6o9VY2UssWL0qS9s0SlwwkFTWL/3oHr/N0X5/x2eign6Wn7CF0NRmE9MVhFLtXDJyv/k/0GZz1SYs1"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ftp {
            connection-limit 5;
        }
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    host-name srx2;
    syslog {
        user * {
            any emergency;
        }
        host 10.10.1.254 {
            any emergency;
        }
        file messages {
            any critical;
        }
        file interactive-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
        source-address 192.168.1.2;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$bFY4ZQz6AtOHqT3"; ## SECRET-DATA
        server 10.10.1.254 key 1; ## SECRET-DATA
        trusted-key 1;
        source-address 192.168.1.2;
    }
}
security {
    ike {
        traceoptions {
            flag all;
        }
        proposal ike-proposal {
            authentication-method pre-shared-keys;
            dh-group group2;
            authentication-algorithm sha1;
            encryption-algorithm aes-128-cbc;
        }
        proposal ike-proposal-1 {
            authentication-method pre-shared-keys;
            dh-group group2;
            authentication-algorithm md5;
            encryption-algorithm 3des-cbc;
        }
        policy ike-policy {
            mode main;
            proposals ike-proposal;
            pre-shared-key ascii-text "$9$Q-UPF6ArlM7NbvWkP5Q9CKM87VY"; ## SECRET-DATA
        }
        policy ike-policy-1 {
            mode main;
            proposal-set basic;
            pre-shared-key ascii-text "$9$TQ/t1IclvLhS"; ## SECRET-DATA
        }
        gateway ike-gateway {
            ike-policy ike-policy;
            address 80.10.1.1;
            external-interface ge-0/0/3.0;
        }
        gateway ike-gateway-1 {
            ike-policy ike-policy-1;
            address 80.10.8.1;
            external-interface ge-0/0/3.0;
        }
    }
    ipsec {
        vpn-monitor-options {
            interval 5;
            threshold 3;
        }
        proposal ipsec-proposal {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 28800;
        }
        proposal ipsec-proposal-1 {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-256-cbc;
            lifetime-kilobytes 100000;
        }
        policy ipsec-policy {
            proposals ipsec-proposal;
        }
        policy ipsec-policy-1 {
            proposals ipsec-proposal-1;
        }
        vpn to-cluster2 {
            bind-interface st0.0;
            vpn-monitor {
                optimized;
                source-interface lo0.0;
                destination-ip 192.168.1.5;
            }
            ike {
                gateway ike-gateway;
                ipsec-policy ipsec-policy;
            }
            establish-tunnels immediately;
        }
        vpn to-srx-1 {
            bind-interface st0.1;
            vpn-monitor {
                optimized;
                source-interface lo0.0;
                destination-ip 192.168.1.1;
            }
            ike {
                gateway ike-gateway-1;
                ipsec-policy ipsec-policy-1;
            }
            establish-tunnels immediately;
        }
    }
    policies {
        from-zone TRUST to-zone UNTRUST {
            policy corp-network-access {
                match {
                    source-address trust-address-range;
                    destination-address corp-network;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy internet-deny-log {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    deny;
                    log {
                        session-init;
                    }
                }
            }
        }
        from-zone TRUST to-zone PRIVATE {
            policy trust-to-private {
                match {
                    source-address trust-address-range;
                    destination-address private-range;
                    application junos-https;
                }
                then {
                    permit;
                }
            }
        }
        from-zone PRIVATE to-zone UNTRUST {
            policy dmz-access {
                match {
                    source-address private-range;
                    destination-address dmz-zones;
                    application private-app-set;
                }
                then {
                    permit;
                }
            }
        }
        from-zone UNTRUST to-zone UNTRUST {
            policy UNTRUST-intra {
                match {
                    source-address [ core-loopbacks gre-int ];
                    destination-address [ core-loopbacks gre-int ];
                    application [ junos-icmp-all junos-gre ];
                }
                then {
                    permit;
                }
            }
        }
        from-zone UNTRUST to-zone TRUST {
            policy TRUST-BO1-to-TRUST-BO2 {
                match {
                    source-address TRUST-BO1;
                    destination-address trust-address-range;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        security-zone TRUST {
            address-book {
                address trust-address-range 172.16.20.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ssh;
                }
            }
            interfaces {
                ge-0/0/2.0;
            }
        }
        security-zone UNTRUST {
            address-book {
                address corp-network 172.16.0.0/16;
                address dmz-DC 172.16.150.0/24;
                address dmz-CO 172.16.55.0/24;
                address core-loopbacks 192.168.1.0/24;
                address gre-int 11.11.11.0/30;
                address TRUST-BO1 172.16.10.0/24;
                address-set dmz-zones {
                    address dmz-CO;
                    address dmz-DC;
                }
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ike;
                }
                protocols {
                    ospf;
                }
            }
            interfaces {
                ge-0/0/3.0;
                st0.0;
                st0.1;
                lo0.0;
            }
        }
        security-zone PRIVATE {
            address-book {
                address private-range 172.168.21.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                ge-0/0/4.0;
            }
        }
    }
}
interfaces {
    gr-0/0/0 {
        unit 0 {
            tunnel {
                source 192.168.1.2;
                destination 192.168.1.1;
            }
            family inet {
                address 11.11.11.2/30;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 172.16.20.254/24;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 80.10.10.1/24;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                address 172.16.21.254/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.2/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.2/32;
            }
        }
    }
    st0 {
        unit 0 {
            family inet {
                address 11.0.0.6/30;
            }
        }
        unit 1 {
            family inet {
                address 11.0.0.9/30;
            }
        }
    }
}
snmp {
    description "JNCIE-SEC device";
    location "Sunnyvale rack";
    contact "Admin user";
    community reading {
        authorization read-only;
        clients {
            10.10.1.254/32;
        }
    }
    community JNCIE;
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.1.254;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
applications {
    application-set private-app-set {
        application junos-http;
        application junos-https;
        application junos-ssh;
        application junos-telnet;
        application junos-ftp;
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface lo0.0;
            interface st0.0;
            interface ge-0/0/2.0 {
                passive;
            }
            interface ge-0/0/4.0 {
                passive;
            }
            interface st0.1;
            interface gr-0/0/0.0;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 80.10.10.254;
        route 192.168.1.1/32 next-hop st0.1;
        route 192.168.1.5/32 next-hop st0.0;
    }
}
