## Last changed: 2019-02-27 13:15:52 PST
version 18.4R1.8;
system {
    login {
        user instructor {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        message "\n\nWARNING: The device is being used for JNCIE-SEC WB labs\n\n";
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
        }
        telnet;
    }
    host-name vr-device;
    time-zone America/Los_Angeles;
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
        boot-server 10.10.1.254;
        server 10.10.1.254;
    }
}
security {
    inactive: forwarding-options {
        family {
            inet6 {
                mode packet-based;
            }
            mpls {
                mode packet-based;
            }
        }
    }
    nat {
        source {
            rule-set inet-access {
                from routing-instance CORE;
                to interface ge-0/0/10.0;
                rule CORE-INET-ACCESS {
                    match {
                        source-address 0.0.0.0/0;
                    }
                    then {
                        source-nat {
                            interface;
                        }
                    }
                }
            }
        }
    }
    policies {
        default-policy {
            permit-all;
        }
    }
    zones {
        security-zone all {
            host-inbound-traffic {
                system-services {
                    any-service;
                }
                protocols {
                    all;
                }
            }
            interfaces {
                all;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        description "to srx1 port ge-0/0/3";
        unit 0 {
            family inet {
                address 80.10.8.254/24;
            }
        }
    }
    ge-0/0/1 {
        description "to srx2 port ge-0/0/3";
        unit 0 {
            family inet {
                address 80.10.10.254/24;
                address 80.10.10.100/24;
            }
        }
    }
    ge-0/0/2 {
        description "to srx3 port ge-0/0/3";
    }
    ge-0/0/3 {
        description "to srx4 port ge-0/0/3";
    }
    ge-0/0/4 {
        description "to srx5 port ge-0/0/3";
    }
    ge-0/0/5 {
        description "to srx6 port ge-0/0/3";
    }
    ge-0/0/6 {
        description "to srx7 port ge-0/0/3";
        unit 0 {
            family inet {
                address 80.10.2.254/24;
            }
        }
    }
    ge-0/0/7 {
        description "to srx8 port ge-0/0/3";
        unit 0 {
            family inet {
                address 80.10.199.254/24;
            }
        }
    }
    ge-0/0/8 {
        description "to access switch port ge-0/0/44";
        vlan-tagging;
        unit 21 {
            description "Simulate IPv6 host Branch2";
            vlan-id 21;
            family inet6 {
                address 2001:a11::1/64;
            }
        }
        unit 101 {
            description "to Cluster1/JNCIE-SEC-WB";
            vlan-id 101;
            family inet {
                address 80.10.99.254/24;
            }
        }
        unit 102 {
            description "to Cluster2/JNCIE-SEC-WB";
            vlan-id 102;
            family inet {
                address 80.10.1.254/24;
            }
        }
    }
    ge-0/0/9 {
        description "to access switch port ge-0/0/45";
        vlan-tagging;
        unit 50 {
            vlan-id 50;
            family inet {
                address 172.16.50.254/24;
            }
        }
        unit 55 {
            vlan-id 55;
            family inet {
                address 172.16.55.254/24;
            }
        }
        unit 60 {
            vlan-id 60;
            family inet {
                address 172.16.60.254/24;
            }
        }
    }
    ge-0/0/10 {
        unit 0 {
            family inet {
                address 10.10.1.50/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            description "OoB management connection";
            family inet {
                address 10.10.1.9/24;
            }
        }
    }
}
routing-instances {
    CORE {
        instance-type virtual-router;
        interface ge-0/0/0.0;
        interface ge-0/0/1.0;
        interface ge-0/0/6.0;
        interface ge-0/0/7.0;
        interface ge-0/0/8.101;
        interface ge-0/0/8.102;
        interface ge-0/0/10.0;
        routing-options {
            static {
                route 192.168.10.0/24 next-hop 80.10.199.1;
                route 172.16.100.0/24 next-hop 80.10.99.100;
                route 172.16.150.0/24 next-hop 80.10.99.100;
                route 172.16.200.0/24 next-hop 80.10.99.100;
                route 172.16.10.0/24 next-hop 80.10.8.1;
                route 172.16.11.0/24 next-hop 80.10.8.1;
                route 172.16.20.0/24 next-hop 80.10.10.1;
                route 172.16.21.0/24 next-hop 80.10.10.1;
                route 172.16.50.0/24 next-hop 80.10.1.1;
                route 172.16.55.0/24 next-hop 80.10.1.1;
                route 172.16.60.0/24 next-hop 80.10.1.1;
                route 172.16.199.0/24 next-hop 80.10.1.1;
                route 192.168.1.1/32 next-hop 80.10.8.1;
                route 192.168.1.2/32 next-hop 80.10.10.1;
                route 192.168.1.3/32 next-hop 80.10.99.100;
                route 192.168.1.5/32 next-hop 80.10.1.1;
                route 192.168.1.6/32 next-hop 80.10.2.1;
                route 192.168.1.7/32 next-hop 80.10.1.1;
                route 192.168.1.8/32 next-hop 80.10.199.1;
                route 0.0.0.0/0 next-hop 10.10.1.254;
            }
        }
    }
    central-office-1 {
        instance-type virtual-router;
        interface ge-0/0/9.50;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.50.10;
            }
        }
    }
    central-office-2 {
        instance-type virtual-router;
        interface ge-0/0/9.55;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.55.10;
            }
        }
    }
    central-office-3 {
        instance-type virtual-router;
        interface ge-0/0/9.60;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.60.10;
            }
        }
    }
}
routing-options {
    static {
        route 10.1.0.0/16 {
            next-hop 10.210.8.158;
            no-readvertise;
        }
    }
}
