## Last changed: 2019-03-05 11:52:39 PST
version 18.4R1.8;
groups {
    jncie {
        security {
            zones {
                security-zone <h*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                security-zone <m*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                security-zone <c*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                security-zone <x*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                security-zone <b*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                security-zone <u*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                security-zone <e*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
                security-zone <r*> {
                    host-inbound-traffic {
                        system-services {
                            all;
                        }
                        protocols {
                            all;
                        }
                    }
                }
            }
        }
        routing-instances {
            <*> {
                instance-type virtual-router;
            }
        }
    }
}
apply-groups jncie;
system {
    login {
        user instructor {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
            }
        }
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$9hu9yYbF$ltmBW4QqMO83potSlg1Us/BymFXkp0bNseLnFMiboMrylNFlF7zt/xSjB/nFOvDPCeYyKBEyAEe3yZNtHwXEM0"; ## SECRET-DATA
            }
        }
        message "\n\nWARNING: The device is being used for JNCIE-SEC WB labs\n\n";
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    services {
        ftp;
        ssh {
            root-login allow;
        }
        telnet;
        web-management {
            http;
            https {
                port 3306;
                system-generated-certificate;
            }
        }
    }
    host-name vr-device;
    backup-router 10.10.1.254 destination 10.0.0.0/8;
    time-zone America/Los_Angeles;
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    ntp {
        boot-server 10.10.1.254;
        server 10.10.1.254;
    }
}
security {
    ike {
        proposal ike-prop-central {
            authentication-method pre-shared-keys;
            dh-group group1;
            authentication-algorithm md5;
            encryption-algorithm des-cbc;
        }
        policy ike-pol-central {
            mode main;
            proposals ike-prop-central;
            pre-shared-key ascii-text "$9$gRaGiP5FApBk.pBIEeK4aZ"; ## SECRET-DATA
        }
        policy ike-prop-central {
            pre-shared-key ascii-text "$9$g.aGiP5FApBk.pBIEeK4aZ"; ## SECRET-DATA
        }
        gateway to-cluster {
            ike-policy ike-pol-central;
            address 80.1.1.16;
            external-interface lt-0/0/0.100;
        }
    }
    ipsec {
        proposal ipsec-prop-central {
            protocol esp;
            authentication-algorithm hmac-md5-96;
            encryption-algorithm des-cbc;
        }
        policy ipsec-pol-central {
            proposals ipsec-prop-central;
        }
        vpn to-cluster-hq {
            bind-interface st0.100;
            ike {
                gateway to-cluster;
                proxy-identity {
                    local 172.16.77.0/24;
                    remote 172.16.0.0/16;
                    service any;
                }
                ipsec-policy ipsec-pol-central;
            }
            establish-tunnels immediately;
        }
    }
    address-book {
        global {
            address cluster-warehouse 172.16.60.0/24;
            address home-office-trust 172.16.77.0/24;
        }
    }
    forwarding-options {
        family {
            inet6 {
                mode flow-based;
            }
        }
    }
    nat {
        source {
            pool websense {
                address {
                    172.16.60.99/32;
                }
            }
            rule-set websense {
                from zone xparent-warehouse;
                to zone xparent-warehouse;
                rule central {
                    match {
                        source-address [ 172.16.55.0/24 172.16.65.0/24 172.16.70.0/24 ];
                        destination-port {
                            80;
                        }
                    }
                    then {
                        source-nat {
                            pool {
                                websense;
                            }
                        }
                    }
                }
            }
            rule-set inet-access {
                from routing-instance untrust;
                to interface ge-0/0/10.0;
                rule 12345 {
                    match {
                        source-address 0.0.0.0/0;
                    }
                    then {
                        source-nat {
                            interface;
                        }
                    }
                }
            }
        }
    }
    policies {
        default-policy {
            permit-all;
        }
    }
    zones {
        security-zone central-internal {
            interfaces {
                ge-0/0/8.55;
            }
        }
        security-zone central-trust {
            interfaces {
                ge-0/0/8.50;
            }
        }
        security-zone building-dmz-b1 {
            interfaces {
                ge-0/0/7.101;
            }
        }
        security-zone central-testbed6 {
            interfaces {
                ge-0/0/8.65;
            }
        }
        security-zone central-testbed7 {
            interfaces {
                ge-0/0/8.70;
            }
        }
        security-zone building-trust-b1 {
            interfaces {
                ge-0/0/7.100;
            }
        }
        security-zone roffice1-private {
            interfaces {
                ge-0/0/8.111;
            }
        }
        security-zone roffice1-trust {
            interfaces {
                ge-0/0/8.110;
            }
        }
        security-zone roffice2-dmz {
            interfaces {
                ge-0/0/8.211;
            }
        }
        security-zone roffice2-trust {
            interfaces {
                ge-0/0/8.210;
            }
        }
        security-zone xparent-trust {
            interfaces {
                ge-0/0/9.50;
            }
        }
        security-zone exa-trust {
            interfaces {
                ge-0/0/8.710;
            }
        }
        security-zone exa-private {
            interfaces {
                ge-0/0/8.15;
            }
        }
        security-zone xparent-testbed6 {
            interfaces {
                ge-0/0/9.165;
            }
        }
        security-zone xparent-testbed7 {
            interfaces {
                ge-0/0/9.170;
            }
        }
        security-zone untrust {
            interfaces {
                ge-0/0/1.0;
                ge-0/0/3.0;
                ge-0/0/6.0;
                lt-0/0/0.1;
                ge-0/0/2.0;
                lo0.3;
                ge-0/0/0.0;
                ge-0/0/10.0;
            }
        }
        security-zone exa-dmz {
            interfaces {
                ge-0/0/8.30;
            }
        }
        security-zone building-trust-b2 {
            interfaces {
                ge-0/0/7.200;
            }
        }
        security-zone building-dmz-b2 {
            interfaces {
                ge-0/0/7.201;
            }
        }
        security-zone xparent-warehouse {
            interfaces {
                ge-0/0/9.60;
            }
        }
        security-zone central-warehouse {
            interfaces {
                ge-0/0/8.60;
            }
        }
        security-zone mpls {
            interfaces {
                ge-0/0/8.340;
                lo0.0;
            }
        }
        security-zone mpls-pe {
            interfaces {
                lt-0/0/0.2;
            }
        }
        security-zone mpls-pe-trust {
            interfaces {
                lt-0/0/0.200;
                lo0.2;
            }
        }
        security-zone home-office {
            interfaces {
                st0.100;
                lo0.100;
                lt-0/0/0.100;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        description srx1;
        unit 0 {
            family inet {
                address 80.1.1.2/30;
            }
        }
    }
    lt-0/0/0 {
        unit 1 {
            encapsulation ethernet;
            peer-unit 100;
            family inet {
                address 200.1.1.1/24;
            }
        }
        unit 2 {
            encapsulation ethernet;
            peer-unit 200;
            family inet {
                filter {
                    input selective-inet;
                }
                address 1.1.1.1/31;
            }
        }
        unit 100 {
            encapsulation ethernet;
            peer-unit 1;
            family inet {
                address 200.1.1.100/24;
            }
        }
        unit 200 {
            encapsulation ethernet;
            peer-unit 2;
            family inet {
                address 1.1.1.0/31;
            }
        }
    }
    ge-0/0/1 {
        description srx2;
        unit 0 {
            family inet {
                address 80.1.1.6/30;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 80.1.1.9/30;
            }
            family inet6 {
                address 2016:abcd::9/126;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 80.1.1.13/30;
            }
            family inet6 {
                address 2016:abcd::d/126;
            }
        }
    }
    ge-0/0/6 {
        description srx7;
        unit 0 {
            family inet {
                address 100.1.1.6/29;
            }
        }
    }
    ge-0/0/7 {
        vlan-tagging;
        unit 100 {
            vlan-id 100;
            family inet {
                address 172.16.100.1/24;
            }
        }
        unit 101 {
            vlan-id 101;
            family inet {
                address 172.16.101.1/24;
            }
        }
        unit 200 {
            vlan-id 200;
            family inet {
                address 172.16.200.1/24;
            }
        }
        unit 201 {
            vlan-id 201;
            family inet {
                address 172.16.201.1/24;
            }
        }
    }
    ge-0/0/8 {
        vlan-tagging;
        unit 15 {
            vlan-id 15;
            family inet {
                address 172.16.15.1/24;
                address 172.16.15.5/24;
                address 172.16.15.10/24;
            }
            family inet6 {
                address 2016:abcd:d2::1/64;
            }
        }
        unit 30 {
            vlan-id 30;
            family inet {
                address 172.16.30.1/24;
                address 172.16.30.13/24;
                address 172.16.30.12/24;
                address 172.16.30.11/24;
            }
        }
        unit 50 {
            vlan-id 50;
            family inet {
                address 172.16.50.100/24;
            }
            family inet6 {
                address 2016:abcd:a1::1/64;
            }
        }
        unit 55 {
            vlan-id 55;
            family inet {
                address 172.16.55.100/24;
            }
        }
        unit 60 {
            vlan-id 60;
            family inet {
                address 172.16.60.100/24;
                address 172.16.60.207/24;
            }
        }
        unit 65 {
            vlan-id 65;
            family inet {
                address 172.16.65.100/24;
            }
        }
        unit 70 {
            vlan-id 70;
            family inet {
                address 172.16.70.100/24;
            }
        }
        unit 110 {
            vlan-id 110;
            family inet {
                address 172.16.10.1/24 {
                    preferred;
                }
                address 172.16.10.50/24;
            }
            family inet6 {
                address 2016:abcd:b1::1/64;
            }
        }
        unit 111 {
            vlan-id 111;
            family inet {
                address 172.16.11.1/24 {
                    preferred;
                }
                address 172.16.11.50/24;
            }
            family inet6 {
                address 2016:abcd:b2::1/64;
            }
        }
        unit 210 {
            vlan-id 210;
            family inet {
                address 172.16.20.200/24;
                address 172.16.20.1/24 {
                    preferred;
                }
            }
            family inet6 {
                address 2016:abcd:c1::1/64;
            }
        }
        unit 211 {
            vlan-id 211;
            family inet {
                address 172.16.21.1/24 {
                    preferred;
                }
                address 172.16.21.2/24;
                address 172.16.21.33/24;
            }
        }
        unit 340 {
            vlan-id 340;
            family inet {
                filter {
                    input selective-inet;
                }
                address 150.1.1.2/30;
            }
            family mpls {
                filter {
                    input selective-mpls;
                }
            }
        }
        unit 710 {
            vlan-id 710;
            family inet {
                address 172.16.10.1/24;
            }
            family inet6 {
                address 2016:abcd:d1::1/64;
            }
        }
    }
    ge-0/0/9 {
        vlan-tagging;
        unit 50 {
            vlan-id 50;
            family inet {
                address 172.16.50.10/24;
            }
        }
        unit 60 {
            vlan-id 60;
            family inet {
                address 172.16.60.10/24 {
                    preferred;
                }
                address 172.16.60.99/24;
                address 172.16.60.199/24;
                address 172.16.60.205/24;
                address 172.16.60.206/24;
            }
        }
        unit 165 {
            vlan-id 165;
            family inet {
                address 172.16.65.10/24;
            }
        }
        unit 170 {
            vlan-id 170;
            family inet {
                address 172.16.70.10/24;
            }
        }
    }
    ge-0/0/10 {
        unit 0 {
            family inet {
                address 10.10.1.50/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            description "OoB management connection";
            family inet {
                address 10.10.1.9/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 80.1.1.17/32;
            }
        }
        unit 2 {
            family inet {
                address 172.16.61.1/32;
            }
        }
        unit 3 {
            family inet {
                address 12.34.56.78/32;
            }
            family inet6 {
                address dead:beaf::1/128;
            }
        }
        unit 100 {
            family inet {
                address 172.16.77.1/32;
            }
        }
    }
    st0 {
        unit 100 {
            family inet;
        }
    }
}
policy-options {
    policy-statement no-bgp {
        term bgp {
            from protocol bgp;
            then reject;
        }
        term else {
            then accept;
        }
    }
    policy-statement to-bgp-v4 {
        term agg-static {
            from {
                protocol [ aggregate static ];
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term vpn {
            from {
                route-filter 200.0.0.0/8 exact;
                route-filter 100.0.0.0/8 exact;
                route-filter 80.1.1.4/30 exact;
                route-filter 80.1.1.0/30 exact;
            }
            then {
                community add no-advertise;
                accept;
            }
        }
        term else {
            then reject;
        }
    }
    policy-statement to-bgp-v6 {
        term default {
            from {
                route-filter ::/0 exact;
            }
            then accept;
        }
        term else {
            then reject;
        }
    }
    policy-statement vrf-export {
        term static {
            from protocol static;
            then {
                community add target;
                accept;
            }
        }
        term else {
            then reject;
        }
    }
    community no-advertise members no-advertise;
    community target members target:1234:1;
}
firewall {
    family inet {
        filter selective-inet {
            term packet {
                then {
                    packet-mode;
                    accept;
                }
            }
        }
    }
    family mpls {
        filter selective-mpls {
            term packet {
                then {
                    packet-mode;
                    accept;
                }
            }
        }
    }
}
routing-instances {
    building-dmz-b1 {
        interface ge-0/0/7.101;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.101.254;
            }
        }
    }
    building-dmz-b2 {
        interface ge-0/0/7.201;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.201.254;
            }
        }
    }
    building-trust-b1 {
        interface ge-0/0/7.100;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.100.254;
            }
        }
    }
    building-trust-b2 {
        interface ge-0/0/7.200;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.200.254;
            }
        }
    }
    central-internal {
        interface ge-0/0/8.55;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.55.254;
            }
        }
    }
    central-testbed6 {
        interface ge-0/0/8.65;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.65.254;
            }
        }
    }
    central-testbed7 {
        interface ge-0/0/8.70;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.70.254;
            }
        }
    }
    central-trust {
        interface ge-0/0/8.50;
        routing-options {
            rib central-trust.inet6.0 {
                static {
                    route ::/0 next-hop 2016:abcd:a1::254;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 172.16.50.254;
            }
        }
    }
    central-warehouse {
        interface ge-0/0/8.60;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.60.254;
            }
        }
    }
    exa-dmz {
        interface lt-0/0/0.3;
        interface ge-0/0/8.30;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.30.254;
            }
        }
    }
    exa-private {
        interface ge-0/0/8.15;
        routing-options {
            rib exa-private.inet6.0 {
                static {
                    route ::/0 next-hop 2016:abcd:d2::254;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 172.16.15.254;
            }
        }
    }
    exa-trust {
        interface ge-0/0/8.710;
        routing-options {
            rib exa-trust.inet6.0 {
                static {
                    route ::/0 next-hop 2016:abcd:d1::254;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 172.16.10.254;
            }
        }
    }
    home-office {
        interface lt-0/0/0.100;
        interface lo0.100;
        interface st0.100;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 200.1.1.1;
            }
        }
    }
    mpls-pe {
        instance-type vrf;
        interface lt-0/0/0.2;
        route-distinguisher 80.1.1.17:8765;
        vrf-export vrf-export;
        vrf-target target:1234:1;
        routing-options {
            static {
                route 172.16.61.0/24 next-hop 1.1.1.0;
            }
        }
    }
    mpls-pe-trust {
        interface lt-0/0/0.200;
        interface lo0.2;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 1.1.1.1;
            }
        }
    }
    roffice1-private {
        interface ge-0/0/8.111;
        routing-options {
            rib roffice1-private.inet6.0 {
                static {
                    route ::/0 next-hop 2016:abcd:b2::254;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 172.16.11.254;
            }
        }
    }
    roffice1-trust {
        interface ge-0/0/8.110;
        routing-options {
            rib roffice1-trust.inet6.0 {
                static {
                    route ::/0 next-hop 2016:abcd:b1::254;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 172.16.10.254;
            }
        }
    }
    roffice2-dmz {
        interface ge-0/0/8.211;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.21.254;
            }
        }
    }
    roffice2-trust {
        interface ge-0/0/8.210;
        routing-options {
            rib roffice2-trust.inet6.0 {
                static {
                    route ::/0 next-hop 2016:abcd:c1::254;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 172.16.20.254;
            }
        }
    }
    untrust {
        interface ge-0/0/0.0;
        interface lt-0/0/0.1;
        interface ge-0/0/1.0;
        interface ge-0/0/2.0;
        interface ge-0/0/3.0;
        interface ge-0/0/6.0;
        interface ge-0/0/10.0;
        interface lo0.3;
        routing-options {
            rib untrust.inet6.0 {
                aggregate {
                    route ::/0 policy no-bgp;
                }
            }
            static {
                route 80.1.1.96/30 next-hop 80.1.1.5;
                route 80.1.1.100/32 next-hop 80.1.1.5;
                route 100.1.1.128/25 next-hop 100.1.1.1;
                route 80.1.1.64/32 next-hop 80.1.1.1;
                route 0.0.0.0/0 next-hop 10.10.1.254;
            }
            aggregate {
                route 0.0.0.0/0 {
                    as-path {
                        atomic-aggregate;
                    }
                }
                route 100.0.0.0/8;
                route 200.0.0.0/8;
            }
            autonomous-system 4321 independent-domain;
        }
        protocols {
            bgp {
                group untrust-v4 {
                    type external;
                    advertise-inactive;
                    export to-bgp-v4;
                    peer-as 1234;
                    neighbor 80.1.1.10;
                    neighbor 80.1.1.14;
                }
                group untrust-v6 {
                    type external;
                    export to-bgp-v6;
                    peer-as 1234;
                    neighbor 2016:abcd::a;
                    neighbor 2016:abcd::e;
                }
            }
        }
    }
    xparent-testbed6 {
        interface ge-0/0/9.165;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.65.254;
            }
        }
    }
    xparent-testbed7 {
        interface ge-0/0/9.170;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.70.254;
            }
        }
    }
    xparent-trust {
        interface ge-0/0/9.50;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.50.254;
            }
        }
    }
    xparent-warehouse {
        interface ge-0/0/9.60;
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 172.16.60.254;
            }
        }
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
            interface ge-0/0/8.340;
        }
    }
    ldp {
        interface ge-0/0/8.340;
    }
    inactive: bgp {
        group mpls {
            type external;
            multihop {
                ttl 2;
            }
            local-address 80.1.1.17;
            family inet-vpn {
                unicast;
            }
            peer-as 1234;
            neighbor 80.1.1.16;
        }
    }
}
routing-options {
    static {
        route 10.0.0.0/8 {
            next-hop 10.10.1.254;
            no-readvertise;
        }
    }
    autonomous-system 8765;
}
