## Last changed: 2019-02-13 10:34:51 PST
version "18.2-20180529.0 [builder]";
groups {
    pki {
        security {
            pki {
                ca-profile advpn {
                    ca-identity advpn;
                    revocation-check {
                        disable;
                    }
                }
            }
        }
    }
}
apply-groups pki;
system {
    login {
        class admin-class {
            permissions all;
            allow-commands "configure private";
            deny-commands configure;
        }
        class restricted-class {
            permissions clear;
            allow-commands "(show system uptime)|(show system storage)|(show interfaces terse)";
        }
        class ronly-users {
            permissions [ view view-configuration ];
            deny-commands "file delete";
        }
        user lab {
            uid 2003;
            class super-user;
            authentication {
                encrypted-password "$6$MOyvqOLO$TbVPZQi5MEETTSdIRNgegEaN9hS87HmkPw3zxi5RV8UGCzth1QZJSg/bqQr3PXxVnEIO8SlVCGiYpAcw7IHfv0"; ## SECRET-DATA
            }
        }
        user admin1 {
            uid 2000;
            class admin-class;
            authentication {
                encrypted-password "$6$Z05TIjBd$Otz3AdhAbFcnQynNMbDohv6MeM2HQ4EuNDahTAK710w6map3DQjAA8mtyQ.CqqO4JXmgARI76UaAicOAgrTDZ1"; ## SECRET-DATA
            }
        }
        user restricted {
            uid 2001;
            class restricted-class;
            authentication {
                encrypted-password "$6$tCIviCsO$cx/4t5dkY.4T29fU7jg/BWKCAjOwws/y4Wj.xxU9lrdH7dmGKvZO.ShgU/2kgzA.b1eH4mBBAxYVlXtMZMW7r/"; ## SECRET-DATA
            }
        }
        user ronly {
            uid 2002;
            class ronly-users;
            authentication {
                encrypted-password "$6$BQRb2bLN$/NhRBeW2KMWAt7//rLMKc7i/J9iyXDjmzCLVLakSyT8CeRMtZ3HsMwQLuIEIV8up5CZcsbodzqYhrzCzBsJzY0"; ## SECRET-DATA
            }
        }
    }
    root-authentication {
        encrypted-password "$6$hl4J65Ln$zBTLOocF4qpXQAhODfjzHSE/Y1iE2g0BeD1I/Loa0H.CCfUlhoSpCit4I9Djt/R.xIMlBBqW5Psedchsp73he0"; ## SECRET-DATA
    }
    host-name srx7;
    time-zone America/Los_Angeles;
    services {
        ssh {
            root-login allow;
            rate-limit 5;
        }
        telnet {
            rate-limit 5;
        }
        web-management {
            http;
            https {
                system-generated-certificate;
            }
        }
    }
    syslog {
        host 10.10.1.254 {
            any emergency;
        }
        file messages {
            any critical;
        }
        file interactice-commands {
            interactive-commands info;
        }
        file security-policy-logs {
            user info;
            match RT_FLOW;
            archive size 512k files 20;
        }
        file authorization-file {
            authorization info;
        }
        time-format year;
        source-address 192.168.1.1;
    }
    ntp {
        boot-server 10.10.1.254;
        authentication-key 1 type md5 value "$9$DTH.50ORSyKn/u1"; ## SECRET-DATA
        server 10.10.1.254 key 1; ## SECRET-DATA
        trusted-key 1;
        source-address 192.168.1.7;
    }
}
security {
    ike {
        proposal ike-proposal {
            authentication-method pre-shared-keys;
            dh-group group5;
            authentication-algorithm sha1;
            encryption-algorithm 3des-cbc;
            lifetime-seconds 86400;
        }
        policy ike-policy {
            mode aggressive;
            proposals ike-proposal;
            pre-shared-key ascii-text "$9$zj5Y3/tleWN-wM8qfTzCAvWLNb2"; ## SECRET-DATA
        }
        gateway ike-gateway {
            ike-policy ike-policy;
            address 80.10.99.100;
            dead-peer-detection {
                always-send;
                interval 10;
                threshold 5;
            }
            local-identity hostname srx7;
            external-interface ge-0/0/4.60;
        }
    }
    ipsec {
        proposal ipsec-proposal {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-192-cbc;
            lifetime-kilobytes 5000;
        }
        policy ipsec-policy {
            proposals ipsec-proposal;
        }
        vpn to-cluster1 {
            ike {
                gateway ike-gateway;
                ipsec-policy ipsec-policy;
            }
            establish-tunnels on-traffic;
        }
    }
    policies {
        from-zone FINANCE to-zone INTERNAL {
            policy finance-internal {
                match {
                    source-address finance-address-range;
                    destination-address internal-range;
                    application any;
                }
                then {
                    permit;
                }
            }
            policy warehouse-sql {
                match {
                    source-address finance-address-range;
                    destination-address warehouse-range;
                    application custom-sql;
                }
                then {
                    permit;
                }
            }
            policy dmz-zone-access {
                match {
                    source-address finance-address-range;
                    destination-address dmz-zones;
                    application dmz-apps;
                }
                then {
                    permit;
                }
            }
            policy ipsec-out {
                match {
                    source-address finance-address-range;
                    destination-address warehouse-range;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-cluster1;
                            pair-policy ipsec-in;
                        }
                    }
                }
            }
        }
        from-zone INTERNAL to-zone FINANCE {
            policy ipsec-in {
                match {
                    source-address warehouse-range;
                    destination-address finance-address-range;
                    application any;
                }
                then {
                    permit {
                        tunnel {
                            ipsec-vpn to-cluster1;
                            pair-policy ipsec-out;
                        }
                    }
                }
            }
        }
    }
    zones {
        functional-zone management {
            host-inbound-traffic {
                system-services {
                    ssh;
                    telnet;
                    http;
                    https;
                    ntp;
                    snmp;
                    ping;
                }
            }
        }
        security-zone FINANCE {
            address-book {
                address finance-address-range 172.16.199.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                ge-0/0/1.0;
            }
        }
        security-zone PRIVATE {
            address-book {
                address private-range 172.168.21.0/24;
            }
            host-inbound-traffic {
                system-services {
                    ping;
                }
            }
            interfaces {
                ge-0/0/2.0;
            }
        }
        security-zone INTERNAL {
            address-book {
                address dmz-DC 172.16.150.0/24;
                address dmz-CO 172.16.55.0/24;
                address warehouse-range 172.16.200.0/24;
                address internal-range 172.16.60.0/24;
                address-set dmz-zones {
                    address dmz-CO;
                    address dmz-DC;
                }
            }
            host-inbound-traffic {
                system-services {
                    ping;
                    ike;
                }
            }
            interfaces {
                ge-0/0/4.60;
                lo0.0;
            }
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 172.16.199.254/24;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 172.16.21.254/24;
            }
        }
    }
    ge-0/0/4 {
        vlan-tagging;
        unit 60 {
            vlan-id 60;
            family inet {
                address 172.16.60.1/24;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.10.1.7/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.1.7/32;
            }
        }
    }
}
snmp {
    description "JNCIE-SEC device";
    location "Sunnyvale rack";
    contact "Admin user";
    community JNCIE;
    community reading {
        authorization read-only;
        clients {
            10.10.1.254/32;
        }
    }
    trap-group test-group {
        categories {
            authentication;
            chassis;
            link;
            routing;
        }
        targets {
            10.10.1.254;
        }
    }
    trap-group space {
        targets {
            10.10.1.121;
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 172.16.60.10;
    }
}
applications {
    application custom-sql {
        application-protocol sqlnet-v2;
        protocol tcp;
        destination-port 5000-6000;
    }
    application-set dmz-apps {
        application junos-http;
        application junos-https;
        application junos-ssh;
    }
}
